$def with (member, new_circulars, old_circulars)
$var script:
     <script src="../static/jquery.min.js" type="text/javascript"></script>
     <script type="text/javascript">
       $$(function() {
         $$("#show_archive").append(' <a href="#" id="toggle_archive">mehr…</a>');
         $$("#archive").css("display", "none");
         $$("#toggle_archive").live("click", function() {
           $$("#toggle_archive").text($$("#archive").is(":hidden") ? "weniger…" : "mehr…");
           $$("#archive").toggle();
           return false;
         });
       });
     </script>
<h1>Willkommen $member.firstname $member.lastname</h1>
$if "admin" in [tag.name for tag in member.tags]:
    <p>Du bist als <b>Administrator</b> in der Mitgliederliste des Schwäbischen Oratorienchors geführt und hast deshalb Zugriff auf die <a href="admin/members.html">Chorverwaltung</a>.</p>
$elif "Verein" in [tag.name for tag in member.tags]:
    <p>Du bist als <b>Vereinsmitglied</b> in der Mitgliederliste des Schwäbischen Oratorienchors geführt.</p>
$elif "inaktiv" in [tag.name for tag in member.tags]:
    <p>Du bist als <b>inaktives Mitglied</b> in der Mitgliederliste des Schwäbischen Oratorienchors geführt.</p>
$else:
    <p>Du bist als <b>aktives Mitglied</b> in der Mitgliederliste des Schwäbischen Oratorienchors geführt.</p>
$def show(*args):
    $ args = [arg for arg in args if arg]
    $if args:
        $for arg in args:
            $if not loop.first:
                , \
            $arg\
    $else:
        Keine Daten vorhanden.
<dl>
  <dt>Deine Mitgliederdaten:<dt>
  <dd>
    <p>Adresse: $show(member.street, member.zip, member.city)</p>
    <p>Kontakt: $show(member.phone, member.email)
      $if member.email and member.email_private:
          (auf der Chorliste versteckt)
    </p>
    <p>Geburtstag: $show(member.birthday and member.birthday.strftime("%d.%m.%Y"))
      $if member.birthday and member.birthday_private:
          (auf der Chorliste versteckt)
    </p>
    <p>Du kannst Deine Mitgliederdaten <a href="data.html">selbst aktualisieren</a>.</p>
    <p>Tags: $show(*[tag.name for tag in member.tags if tag.visible]) (<a href="tags.html">Details anzeigen</a>)</p>
  </dd>
  <dt>Zugangsdaten:</dt>
  <dd>
    <p>Du kannst Deine <a href="access.html">Zugangsdaten konfigurieren</a>, um Dich nicht nur per E-Mail-Link anmelden zu können.</p>
  </dd>
  <dt>Mitglieder-Seiten:</dt>
  <dd>
    $if "inaktiv" in [tag.name for tag in member.tags]:
        <p>Als inaktives Mitglied hast Du <b>keinen</b> Zugang zu den Mitglieder-Seiten.</p>
    $else:
        <p>Als aktives Mitglied hast Du Zugang zum <a href="wiki/">Mitglieder-Wiki</a> und zu den <a href="photos.html">Fotoalben</a>.</p>
  </dd>
  $if "Verein" in [tag.name for tag in member.tags]:
      <dt>Vereins-Seiten:</dt>
      <dd><p>Als aktives Vereinsmitglied hast Du Zugang zum <a href="verein/">Vereins-Wiki</a>.</p></dd>
$def show_circular(circular):
    $if circular.id != 1:
        <li><a href="message/$circular.name/show.html">$circular.title vom $circular.created.strftime("%d.%m.%Y")</a></li>
    $else:
        <li><a href="message/$circular.name/show.html">$circular.title</a></li>
  <dt>Chorbriefe:</dt>
  <dd>
    $if new_circulars:
        $if len(new_circulars) > 1:
            <p>Du hast <b>$len(new_circulars) ungelesene Chorbriefe</b>:</p>
        $else:
            <p>Du hast <b>einen ungelesenen Chorbrief</b>:</p>
        <ul>
          $for circular in new_circulars:
              $:show_circular(circular)
        </ul>
    $else:
        <p>Du hast keine ungelesenen Chorbriefe.</p>
    $if old_circulars:
        $if len(old_circulars) > 1:
            <p id="show_archive">Es sind $len(old_circulars) gelesene Chorbriefe in Deinem Archiv.</p>
        $else:
            <p id="show_archive">Du hast einen gelesenen Chorbrief in Deinem Archiv.</p>
        <ul id="archive">
          $for circular in old_circulars:
              $:show_circular(circular)
        </ul>
    $else:
        <p>Es sind keine gelesenen Chorbriefe in Deinem Archiv.</p>
  </dd>
</dl>
