$def with (tags)
<h1>Fotoalben</h1>
<dl>
$for tag, count, labeled, names in tags:
    <dt>$tag.description.split(" (")[0]</dt>
    <dd>
      <p><a href="photos/$tag.name/index.html">Fotoalbum mit $((count+19)/20) Seiten und $count Fotos von $tag.photographer</a></p>
      $if labeled:
          <p>
            $if labeled == 1:
                1 beschriftetes Photo:
            $else:
                $labeled beschriftete Photos:
            $for name in sorted(names.split(",")):
                <a href="photos/$tag.name/index.html?photo=$name.replace('+', '%2B')">$name</a>$("," if not loop.last else "")
          </p>
    </dd>
</dl>
<p>zurück zu <a href="index.html">Deiner SOC Mitgliederseite</a></p>
