$def with (member)
<h1>Hinweise zum Datenschutz im Mitgliederbereich des Schwäbischen Oratorienchors</h1>

<p>Die Mitgliederdaten des Schwäbischen Oratorienchors werden seit vielen
Jahren online verwaltet. Der Server und die Daten sind dabei nach aktuellem
Stand der Technik vor dem Zugriff durch Dritte geschützt.</p>

<p>Du hast als Mitglied Zugriff auf Deine eigenen Mitgliederdaten und kannst
viele Deiner gespeicherten Daten auch selbst aktualisieren. Der Zugang zum
Mitgliederbereich erfolgt durch persönliche Zugangslinks, die eine begrenzte
Lebensdauer besitzen und per E-Mail verschickt werden. Innerhalb des
Mitgliederbereichs kannst Du persönliche Zugangsdaten einrichten, um Dich in
Zukunft ohne Zugangslink und ohne zeitliche Einschränkung anmelden zu können.
Dein selbst vergebenes Passwort wird dabei auf dem Server so verschlüsselt
gespeichtert, dass es unmöglich ist, das Passwort zu rekonstruieren.</p>

<p>Die Mitglieder des Schwäbischen Oratorienchors können gegenseitig keine
Daten der anderen Mitglieder sehen. Aktive Mitglieder haben aber Zugang zum
Mitglieder-Wiki, in dem beliebige Daten hinterlegt werden können, die von allen
anderen aktiven Mitgliedern eingesehen werden können. In ähnlicher Weise wird
mit dem Vereins-Wiki für Vereinsmitglieder vorgegangen. Die Festlegung, wer als
aktives Mitglied geführt wird, wird im Zuge der Projekteinladungen regelmäßig
aktualisiert.</p>

<p>Bei Teilnahme an einem Projekt werden persönliche Daten wie Name, Anschrift,
Telefonnummer auf der Teilnehmerliste im Chor verteilt. Die E-Mail-Adresse
(sehr wichtig zum Kontaktieren) und das Geburtsdatum (notwendig für die Meldung
beim Chorverband Bayerisch-Schwaben) können vom Verteilen im Chor ausgenommen
werden. Außerdem wird Dein Name im Programmheft genannt, welches an die
Konzertbesucher verteilt und online gestellt wird.</p>

<h2>Nutzung von OpenStreetMap</h2>

<p>Online-Kartendienste wie <a href="https://openstreetmap.org">OpenStreetMap</a>
ermöglichen es, die Position von Adressen anzuzeigen. Sind die Positionen
erfasst, lässt sich die Teilnehmerliste an einem Projekt auch als
<a href="https://de.wikipedia.org/wiki/Keyhole_Markup_Language">KML-Datei</a>
erzeugen, um diese beispielsweise in <a href="https://earth.google.com/">Google Earth</a>
anzuzeigen und Fahrgemeinschaften absprechen zu können. Wir verschicken eine
solche KML-Datei an alle Sängerinnen und Sänger eines Projekt jeweils einige
Tage vor der ersten Probe. Bei der Nutzung von Google Earth zur Anzeige der
Teilnehmerdaten auf einer Karte werden die Daten lokal auf Deinem Rechner
verarbeitet, nicht auf den Servern von Google.</p>

<p>Beim Ändern Deiner Mitgliedsdaten kannst Du Deine Adresse auf der Karte
suchen. Dabei werden nur Deine Straße und Dein Ort an OpenStreetMap geschickt
(ohne Deinen Namen), genau wie wenn Du Deine Adresse direkt dort suchen
würdest.</p>

<p style="margin-top:3em;">Weitere Informationen sind unter den <a href="../privacy.html">öffentlichen Hinweisen zum Datenschutz</a> zu finden.</p>
