$def with (form, cfg)
<h1><a href="recordings.html">Aufnahmen</a>: einzele Aufnahme kaufen</h1>
<p>Mit dem folgenden Formular kannst Du eine einzelne
Aufnahme kaufen. Sie kostet $cfg.recording € und wird per
Bankeinzug
bezahlt.
Details siehe <a href="/wiki/recordings">Beschreibung im Wiki</a>.</p>
<p><b>Hinweis:</b> Die Lastschrift wird nicht unmittelbar ausgelöst. Es erfolgt
später eine Ankündigung der Lastschrift und Mitteilung einer Mandatsreferenz
per E-Mail. Bei Problem mit dem Kauf ist deshalb zunächst auch problemlos noch
eine Stornierung möglich.</p>
<form action="recording_form.html" method="POST">
$:form.render()
</form>
<p>zurück zu <a href="index.html">Deiner SOC Mitgliederseite</a> ohne Kauf</p>
