$def with (form, failed=False)
<h1>Zugangsdaten konfigurieren</h1>
<p>Hier kannst Du einen Benutzernamen und Passwort einrichten oder ändern. Damit kannst Du Dich jederzeit beim Mitgliederbereich des Schwäbischen Oratorienchors anmelden, ohne einem Einladungslink per E-Mail zu folgen. Die Einladungslinks haben übrigens auch eine begrenzte Lebensdauer &mdash; mit Deinen Zugangsdaten kannst Du Dich hingegen immer einloggen.</p>
<form action="access.html" method="POST">
$:form.render()
</form>
<p>zurück zu <a href="index.html">Deiner SOC Mitgliederseite</a>, ohne Änderungen vorzunehmen</p>
