<h1>Schwäbischer Oratorienchor e.V., Augsburg</h1>

<p style="padding-bottom:2em;">c/o Georg Rapp<br>
Augsburger Str. 15a<br>
86500 Kutzenhausen<br>
<img src="static/email.png" width=260 height=13 style="position:relative;top:2px;left:1px;"></p>

<h3>1. Vorsitzender:</h3>
<p>Georg Rapp</p>

<h3>2. Vorsitzender:</h3>
<p style="padding-bottom:2em;">André Wobst</p>

<p>Der Schwäbische Oratorienchor e.V. wurde im Herbst 2001 zur Unterstützung der Projektvorhaben gegründet. Er kümmert sich um die Finanzierung durch Sponsoren sowie um Pressearbeit und Werbung. Wir möchten uns auch an dieser Stelle ganz herzlich bei unseren Sponsoren bedanken. Sollten auch Sie Interesse haben, kommende Projekte finanziell zu unterstützen, freuen wir uns auf Ihre Nachricht.</p>

<p><a href="privacy.html">Hinweise zum Datenschutz</a></p>
