<h1>Herzlich willkommen auf den Seiten des Schwäbischen Oratorienchors!</h1>
<p><img src="static/index.jpg" width="446" height="577" alt="Schwäbischer Oratorienchor"></p>
<h4>Kommendes Projekt:</h4>
<h2>Antonín Dvořák</h2>
<h2>Stabat Mater</h2>
<h3>Sonntag, 20. November 2011, 19:00 Uhr</h3>
<h3>Pfarrkirche Herz Jesu, Augsburg-Pfersee</h3>
<p>Platzkarten zu €&nbsp;24, €&nbsp;18 und €&nbsp;10 im Vorverkauf bei Böhm &amp; Sohn, Ludwigstr. 15, Augsburg und online (siehe Menüpunkt Karten oben links). Abendkasse ab 18:00 Uhr.</p>
