$def with (form, failed=False, press=False)
<h1>Zugang für Chor- und Vereinsmitglieder</h1>
$if press:
    <p><b>Hinweis:</b> Presseberichte sind urheberrechtlich geschützte Inhalte. Wir bitten um Ihr Verständnis, dass wir diese Inhalte hier deshalb nicht für die Allgemeinheit zur Verfügung stellen können.</p>
$if failed:
    <p>Das Einloggen war nicht erfolgreich. Fragen und Hilfe zum Login unter <img src="static/email.png" width=260 height=13 style="position:relative;top:2px;left:1px;">.</p>
<form action="login.html" method="POST">
$:form.render()
</form>
<p>Zugang erfordert das Zulassen eines Cookies &mdash; siehe <a href="privacy.html">Hinweise zum Datenschutz</a> für Details</p>
