$def with (form)
<h1>Rundschreiben</h1>
<p>Wir versenden eine halbjährliche E-Mail jeweils zu Beginn des
Kartenvorverkaufs für kommende Projekte (selbstverständlich ausschließlich für
Projekte des Schwäbischen Oratorienchors). Wenn Sie dieses Rundschreiben
erhalten möchten, geben Sie bitte Ihre Kontaktdaten in das Formular unten ein.
In jeder an Sie geschickten E-Mail befindet sich der Hinweis, wie Sie das
Rundschreiben wieder abbestellen können. Eine weitergehende Nutzung Ihrer Daten
findet nicht statt. Der <a href="privacy.html">Schutz Ihrer Daten</a> hat für
uns höchste Priorität.</p>
<form action="newsletter.html" method="POST">
$:form.render()
</form>
