<h1><a href="http://www.eser-streit.de/">Priska Eser</a></h1>

<p style="float:right;"><img src="static/soloist/eser.jpg" style="margin-left:15px;margin-bottom:15px;" width="150" height="113" alt="Priska Eser"></p>
<p>Die in Augsburg geborene Sängerin studierte bei Nikolaus Hillebrand in München,
bevor sie vom Chor des Bayerischen Rundfunks als festes Mitglied engagiert
wurde. Parallel dazu entwickelte sie eine rege solistische Tätigkeit, die in
zahlreichen CD-Produktionen, Rundfunk- und Fernsehaufnahmen dokumentiert ist.
Zuletzt wirkte sie beispielsweise bei einer Einspielung geistlicher Vokalwerke
von Franz Lachner mit, CD erschienen 2008. Im Bereich der Alten Musik arbeitet
sie u.a. mit Thomas Hengelbrock und Andrew Parrott zusammen, auch hier
entstanden mehrere Aufnahmen und Konzertmitschnitte.</p>

<p>Ihr breit gefächertes Repertoire umfasst jedoch ebenso die Oratorien, Messen
und Kantaten von Bach, Haydn und den Romantikern, sowie nahezu das gesamte
geistliche Werk Mozarts. Neben zahlreichen Engagements in Deutschland, u.a. mit
den Münchner Philharmonikern und dem Symphonieorchester des Bayerischen
Rundfunks, führte ihre Konzerttätigkeit sie auch ins benachbarte europäische
Ausland.</p>

<p>Außerdem verfügt Priska Eser über langjährige Erfahrung in der
Interpretation Neuer Musik (Rihm, Schnittke, Xenakis), sie wirkte bereits bei
mehreren Uraufführungen mit. Im Liedgesang widmet sich die Sopranistin
bevorzugt den Kompositionen von Mozart, Schubert, Schumann und Strauss.</p>

<hr class="minor">

<h1>Benjamin Appl</h1>
<p style="float:right;"><img src="static/soloist/appl.jpg" style="margin-left:15px;margin-bottom:15px;" width="120" height="158" alt="Benjamin Appl"></p>
<p>Der Bariton Benjamin Appl bekam seine musikalische Grundausbildung bei den
Regensburger Domspatzen. Im Juli 2010 beendete er sein Gesangsstudium in den
Klassen von Edith Wiens und Helmut Deutsch an der Hochschule für Musik und
Theater München mit Auszeichnung. Derzeit vertieft er seine Ausbildung bei
Rudolf Piernay an der Guildhall School of Music &amp; Drama in London. Ergänzend
arbeitete er in Meisterkursen mit Brigitte Fassbaender, Dietrich Fischer-Dieskau
und Christian Gerhaher.</p>

<p>2002 wurde Benjamin Appl mit dem Sonderpreis des Bayerischen Rundfunks „für die
hervorragende Interpretation eines Werkes des 20. Jahrhunderts“ ausgezeichnet
und erhielt ein Stipendium des Richard-Wagner-Verbandes. Seit März 2007 ist er
Stipendiat der Studienstiftung des deutschen Volkes, seit 2008 wird er zudem
von der Yehudi-Menuhin-Stiftung „Live Music Now“ gefördert.</p>

<p>Mit Ensembles wie der Akademie für Alte Musik Berlin, dem Bach Collegium Zürich
oder dem Ensemble aperto der internationalen Haller Bach-Tage erarbeitete
sich Benjamin Appl als Solist ein umfangreiches Konzertrepertoire.</p>

<p>Benjamin Appl war zu hören bei Festivals wie der Bachwoche Stuttgart, der
Internationalen Sommerakademie Salzburg, dem Europäischen Musikfest Stuttgart
und den Züricher Bachtagen. 2010 gab er beim Ravinia Festival sein US-Debut.</p>

<p>Opernerfahrungen sammelte der Bariton als Ernesto in Haydns <i>Die Welt auf dem
Monde</i> in Augsburg, als Minister in Strauss' <i>Wiener Blut</i> im Münchner
Prinzregententheater und als Dr. Falke in Strauss' <i>Die Fledermaus</i>. Im Juni 2009
übernahm er die Rolle des Schaunard in Puccinis <i>La Bohème</i> mit dem Münchner
Rundfunkorchester unter Ulf Schirmer. Unter dessen Leitung sang er im Februar
2010 in Peter Eötvös‘ Oper <i>Tri sestri</i> den Baron Tusenbach, den er auch im Juli
2011 an der Staatsoper Unter den Linden Berlin darstellen wird.</p>
