<h1>Presseberichte</h1>
<ul>
  <li>
    Augsburger Allgemeine, Mittwoch, 3. Dezember 2008<br>
    <a href="/press/weihnacht.html"><b>Frohlocken über diese Aufführung</b> - Oratorienchor mit Bachs Weihnacht</a>
  </li>
  <li>
    Augsburger Allgemeine, Mittwoch, 30. April 2008<br>
    <a href="/press/moses.html"><b>Getröstet Elend</b> - Max Bruchs "Moses" in Herz Jesu</a>
  </li>
  <li>
    Augsburger Allgemeine, Dienstag, 20. November 2007<br>
    <a href="/press/haydnrequiem.html"><b>Vom Tod zum Leben</b> - Schwäbischer Oratorienchor - Ein Konzert in ev. St. Ulrich verbindet Requiem und Osterfeier</a>
  </li>
  <li>
    Augsburger Allgemeine, Dienstag, 8. Mai 2007<br>
    <a href="/press/egypt.html"><b>Auszug und Einzug</b> - Oratorium Händels "Israel in Egypt" in Evangelisch St. Ulrich</a>
  </li>
  <li>
    Augsburger Allgemeine, Mittwoch, 29. November 2006<br>
    <a href="/press/peri.html"><b>Halb Elf, halb Engel</b> - Schumanns "Paradies und die Peri" als Ereignis in Herz Jesu</a>
  </li>
  <li>
    Augsburger Allgemeine, Mittwoch, 10. Mai 2006<br>
    <a href="/press/hmoll.html"><b>Glutvolle Bekenntnisse</b> - Schwäbischer Oratorienchor mit Bachs h-Moll-Messe</a>
  </li>
  <li>
    Augsburger Allgemeine, Dienstag, 3. Mai 2005<br>
    <a href="/press/paulus.html"><b>Romantische Verklärung</b> - Schwäbischer Oratorienchor mit Mendelssohns "Paulus"</a>
  </li>
  <li>
    Augsburger Allgemeine, Donnerstag, 11. November 2004<br>
    <a href="/press/dettinger.html"><b>Furcht und Gotteslob</b> - Schwäbischer Oratorienchor singt Bach und Händel</a>
  </li>
  <li>
    Augsburger Allgemeine, Donnerstag, 13. Mai 2004<br>
    <a href="/press/schoepfung.html"><b>Packende Bildkraft</b> - Haydns "Schöpfung" mit dem Schwäbischen Oratorienchor</a>
  </li>
  <li>
    Augsburger Allgemeine, Dienstag, 2. Dezember 2003<br>
    <a href="/press/alexander.html"><b>Triumph der Musik</b> - Händels "Alexanderfest" vom Schwäbischen Oratorienchor</a>
  </li>
  <li>
    Katholische Sonntagszeitung, Samstag/Sonntag, 31. Mai/1. Juni 2003<br>
    <a href="/press/elias3.html"><b>Verklärung des Propheten</b> - Mendelssohns "Elias" in der Herz-Jesu-Kirche</a>
  </li>
  <li>
    Memminger Zeitung, Donnerstag, 29. Mai 2003<br>
    <a href="/press/elias2.html"><b>Mendelssohn-Schlager, die bewegen</b> - Schwäbischer Oratorienchor und Arcis Kammersolisten brillieren mit "Elias" in St. Josef</a>
  </li>
  <li>
    Augsburger Allgemeine, Dienstag, 20. Mai 2003<br>
    <a href="/press/elias.html"><b>Terzett der Engel</b> - Mendelssohns Oratorium "Elias" in der Herz-Jesu-Kirche</a>
  </li>
  <li>
    Augsburger Allgemeine, Dienstag, 29. Oktober 2002<br>
    <a href="/press/requiem.html"><b>Klingende Todesvisionen</b> - Schwäbischer Oratorienchor mit Arcis Kammersolisten</a>
  </li>
  <li>
    Augsburger Allgemeine, Dienstag, 30. April 2002<br>
    <a href="/press/messias.html"><b>Transparentes Fundament, höhensicherer Glanz</b> - "Messias" mit dem neuen Schwäbischen Oratorienchor</a>
  </li> 
</ul>
