$def with (view, pickup=None)
<h1><a href="../../members.html">Mitgliederverwaltung</a>: Karten</h1>
<p>$view.tag.description</p>
<h2>Übersicht über alle Karten</h2>
<table id="list" cellspacing="0" cellpadding="0" border="0">
  <tr><td></td><th>Anzahl</th><th>Wert</th></tr>
  <tr><th>verkauft</th><td align="right"><a href="map.pdf?booked=1">$view.booked_sum.count</a></td><td align="right">€$view.booked_sum.sum</td></tr>
  <tr><th>frei</th><td align="right"><a href="map.pdf?available=1">$view.available.count</a></td><td align="right">€$view.available.sum</td></tr>
  <tr><th>Summe</th><td align="right"><a href="map.pdf">$view.total.count</a></td><td align="right">€$view.total.sum</td></tr>
</table>
<br>
<h2>Nicht online gekaufte Karten</h2>
<div style="float:right;"><a href="new.html">Neue Kartenzuteilung</a></div>
<table id="list" cellspacing="0" cellpadding="0" border="0">
  <tr><th>Name</th><th>Anzahl</th><th>Wert</th><th>Aktion</th></tr>
$for sold, count, s in view.booked:
    $if not sold.online:
        <tr onmouseover="style.backgroundColor='#ccc';" onmouseout="style.backgroundColor='#fff';">
          <td>$sold.name</td>
          <td align="right"><a href="map.pdf?sold=$sold.id">$count</a></td>
          <td align="right">€$s</td>
          <td>
            <a href="sold/$sold.id/edit.html">Bearbeiten</a>,
            <a href="sold/$sold.id/delete.html">Löschen</a>\
          </td>
        </tr>
</table>
<br>
<h2>Online gekaufte Karten</h2>
<table id="list" cellspacing="0" cellpadding="0" border="0">
  <tr><th>Name</th><th>Reservierung</th><th>Bezahlung</th><th>Anzahl</th><th>Wert</th><th>Aktion</th></tr>
$for sold, count, s in view.booked:
    $if sold.online:
        <tr onmouseover="style.backgroundColor='#ccc';" onmouseout="style.backgroundColor='#fff';">
          <td>$sold.name</td>
          <td>
            $sold.created.strftime('%d.%m.%Y'),
            $sold.id/$sold.bankcode
          </td>
          <td>
            $if sold.payed:
                $sold.payed.strftime('%d.%m.%Y'),
                $sold.id/$sold.pickupcode
            $else:
                <a href="sold/$sold.id/pay.html">Zahlungseingang buchen</a>
          </td>
          <td align="right"><a href="map.pdf?sold=$sold.id">$count</a></td>
          <td align="right">€$s</td>
          <td>
            <a href="sold/$sold.id/pickup.html">Abholschein</a>,
            <a href="sold/$sold.id/edit.html">Bearbeiten</a>,
            <a href="sold/$sold.id/delete.html">Löschen</a>
          </td>
        </tr>
</table>
<p>Summe gebuchter Karten: €$sum([s for sold, count, s in view.booked if sold.online and sold.payed]), Summe nicht gebuchter Karten: €$sum([s for sold, count, s in view.booked if sold.online and not sold.payed]).</p>
<br>
<h2>Druckvorlagen</h2>
<form action="index.html" method="POST">
$:view.form.render()
</form>
$if pickup:
  <iframe src="sold/$pickup/pickup.html" width=1 height=1 style="display:none;"></iframe>
