<h1>Spendenaktion</h1>
<h2>zur Finanzierung der Aufführung von Edward Elgars „The Dream of Gerontius“ am 23.11.2025 in Herz Jesu, Augsburg-Pfersee</h2>
<p>Der Schwäbische Oratorienchor ist bekannt und etabliert mit seinen
Aufführungen großer, bekannter wie unbekannter, oratorischer Werke. Unser
anvisiertes Herbstprojekt 2025 ist besonders herausfordernd hinsichtlich der
Finanzierung, da aufwändig besetzt.</p>
<p>Zur Finanzierung haben wir eine Spendenaktion auf der Spendenplattform
betterplace.org eingerichtet. Die Sparkasse Schwaben-Bodensee unterstützt die
Kampagne über das Portal WirWunder und übernimmt die Transaktionskosten, so
dass Ihre Spende vollständig dem Projekt zugute kommt.</p>
<p><b>Link zur Spendenaktion bei betterplace.org: <a href="https://www.betterplace.org/de/projects/154357?wirwunder=296">https://www.betterplace.org/de/projects/154357?wirwunder=296</a></b></p>
<p>Vielen Dank für Ihre Unterstütung!</p>
