<h1>Spendenaktion</h1>
<h2>zur Finanzierung der Aufführung von Edward Elgars „The Dream of Gerontius“ am 23.11.2025 in Herz Jesu, Augsburg-Pfersee</h2>
<p>Der Schwäbische Oratorienchor ist bekannt und etabliert mit seinen
Aufführungen großer, bekannter wie unbekannter, oratorischer Werke. Unser
anvisiertes Herbstprojekt 2025 ist besonders herausfordernd hinsichtlich der
Finanzierung, da aufwändig besetzt.</p>
<p>Zur Finanzierung haben wir eine Spendenaktion auf der Spendenplattform
betterplace.org eingerichtet. Die Sparkasse Schwaben-Bodensee unterstützt die
Kampagne über das Portal WirWunder und übernimmt die Transaktionskosten, so
dass Ihre Spende vollständig dem Projekt zugute kommt.</p>
<p><a title="Jetzt spenden für „Aufführung des Edward Elgars &quot;The Dream of Gerontius&quot; am 23.11.2025“ auf betterplace.org!" target="_blank" href="https://www.betterplace.org/de/projects/154357?wirwunder=296"><img style="border:0px" alt="Jetzt Spenden! Das Spendenformular wird von betterplace.org bereit gestellt." width="160" height="100" src="https://betterplace-assets.betterplace.org/static-images/projects/donation-button-de.png" /></a></p>
<p>Vielen Dank für Ihre Unterstütung!</p>
