<h1>Stefan Wolitz</h1>
<p style="float:right;margin-left:15px;margin-bottom:15px;font-size:70%;color:#ccc;"><img src="static/head.jpg" width="190" height="270" alt="Stefan Wolitz"><br>Foto: David Slawik</p>
<p>Stefan Wolitz wurde 1972 im Landkreis Augsburg geboren. Nach dem Abitur 1991 am Maria-Theresia-Gymnasium Augsburg studierte er zunächst Musikpädagogik und Katholische Theologie an der Universität Augsburg. 1992 wechselte er an die Hochschule für Musik und Theater München. Er studierte dort Schulmusik (Staatsexamen 1996) sowie das Hauptfach Chordirigieren bei Roderich Kreile und Professor Michael Gläser (Diplomkonzert 1997 <i>Elias</i> von Mendelssohn Bartholdy). Es schloss sich das Studium der Meisterklasse Chordirigieren bei Prof. Michael Gläser an, das er im Jahr 2000 mit dem Meisterklassenpodium beendete (<i>Messe As-Dur</i> von Schubert).</p>

<p>Von 1996 bis 1998 studierte Stefan Wolitz das Hauptfach Klavier bei Professor Friedemann Berger (Diplom 1998). Wichtige Erfahrungen durfte er von 1996 bis 2000 in der Liedklasse von Professor Helmut Deutsch machen. Von 2000 bis 2006 studierte er bei Professor Gernot Gruber Musikwissenschaft an der Universität Wien und promovierte 2006 über die Chorwerke Fanny Hensels (Dissertationspreis 2008).</p>

<p>Als Pädagoge betätigte sich Stefan Wolitz im Zeitraum 1998-2008 als Lehrbeauftragter am Lehrstuhl für Musikpädagogik der Universität Augsburg und ist seit 2001 Schulmusiker am musischen Gymnasium Marktoberdorf.</p>

<p>Seit Ende 2008 leitet er den Carl-Orff-Chor Marktoberdorf. 2010 wurde er zum künstlerischen Leiter der Schwäbischen Chorakademie berufen. 2012 durfte er als aktiver Teilnehmer des dritten Chordirigierforums Erfahrungen mit dem Chor des Bayerischen Rundfunks sammeln und später auch Einstudierungen im Chor des BR übernehmen.</p>

<p>Den Schwäbischen Oratorienchor gründete Stefan Wolitz im Jahr 2002 und leitete die bisherigen Projekte
<i>Der Messias</i> von Händel im April 2002,
<i>Requiem</i> von Mozart im Oktober 2002,
<i>Elias</i> von Mendelssohn Bartholdy im Mai 2003,
<i>Das Alexander-Fest</i> von Händel im November 2003,
<i>Die Schöpfung</i> von Haydn im Mai 2004,
<i>Dettinger Te Deum</i> von Händel im November 2004,
<i>Paulus</i> von Mendelssohn Bartholdy im Mai 2005,
die musikalische Gestaltung des Hauptgottesdienstes zum 450. Friedensfest in St. Ulrich und Afra, Augsburg im August 2005,
die <i>Messe in h-Moll</i> von Bach im Mai 2006,
<i>Das Paradies und die Peri</i> von Schumann im November 2006,
<i>Israel in Egypt</i> im Mai 2007,
das <i>Requiem</i> von Michael Haydn und das <i>Osteroratorium</i> von Bach im November 2007,
<i>Moses</i> von Bruch im April 2008,
das <i>Weihnachtsoratorium</i> (Teil 1-3) von Bach im November 2008,
<i>Elias</i> von Mendelssohn Bartholdy im Mai 2009,
<i>Samson</i> von Händel im Mai 2010,
das <i>Requiem</i> von Brahms im November 2010,
die <i>Johannes-Passion</i> von Bach im April 2011,
<i>Stabat Mater</i> von Dvořák im November 2011,
der <i>42. Psalm</i> und <i>Lobgesang</i> von Mendelssohn Bartholdy im Mai 2012,
das <i>Weihnachtsoratorium</i> (Teil 1 und 4-6) von Bach im Dezember 2012,
<i>Judas Maccabaeus</i> von Händel im Dezember 2013,
die <i>Matthäus-Passion</i> von Bach im April 2014,
das <i>Requiem</i> von Dvořák im November 2014,
<i>Belshazzar</i> von Händel im Mai 2015,
die <i>Missa Solemnis</i> von Beethoven im April 2016,
<i>Dixit Dominus</i> von Händel und <i>Magnificat</i> von Bach im November 2016,
die <i>Johannespassion</i> von Homilius im April 2017,
die <i>Große Messe in c-Moll</i> von Mozart im November 2017,
<i>Paulus</i> von Mendelssohn Bartholdy im Mai 2018,
<i>Die heilige Ludmilla</i> von Dvořák im Mai 2019,
<i>Saul</i> von Händel im Dezember 2019.
<i>Te Deum in D</i> von Charpentier im August 2021,
<i>Stabat mater</i> von Haydn im November 2021,
<i>Messiah</i> von Händel im Mai 2022,
der <i>42. und 115.~Psalm und Lauda Sion</i> von Mendelssohn Bartholdy im November 2022,
<i>Moses</i> von Bruch im Mai 2023 sowie
<i>Solomon</i> von Händel im Dezember 2023.
