<h1>Herzlich willkommen auf den Seiten des Schwäbischen Oratorienchors!</h1>
<p><img src="static/index.jpg" width="446" height="577" alt="Schwäbischer Oratorienchor"></p>
<h4>Kommendes Projekt:</h4>
<div><a href="https://elgarsociety.org/"><img width="200" height="110" border="0" src="static/elgarsociety.png" align="right"></a></div>
<h2>Edward Elgar</h2>
<h2>The Dream of Gerontius</h2>
<h3>Sonntag, 23. November 2025, 18:00 Uhr</h3>
<h3>Pfarrkirche Herz Jesu, Augsburg-Pfersee</h3>
<p>Die Aufführung wird unterstützt von der <a href="https://elgarsociety.org/">Elgar Society</a>.</p>
