$def with (form, tag, formerror=False)
<h1>Kartenverkauf</h1>
<h2>$tag.ticket_title</h2>
<h3>$tag.ticket_description.replace('18:00 Uhr', '18:00 Uhr und 20:00 Uhr')</h3>
$if formerror:
    <h1 style="color:#933;">ACHTUNG: Die Aktion konnte nicht ausgeführt werden, da sich Fehler im Formular befinden!</h1>
$else:
    <p>Auf dieser Seite können Sie Karten für eines von den zwei kommenden,
    identischen Konzerten des Schwäbischen Oratorienchors erwerben.</p>
    <p>Zur Erfüllung der Corona-Bestimmungen bieten wir für die beiden Aufführungen
    ausschließlich Karten zum Einheitspreis von €15 an. Sie werden platziert in
    der Reihenfolge des Bestelleingangs. Es gilt grundsätzlich der von früheren
    Konzerten her bekannte
    <a href="/static/charpentier_bestuhlungsplan.pdf" target="_blanc">Bestuhlungsplan</a>,
    allerdings mit erheblich reduzierter Belegung.</p>
    <p>Als Zahlungsweise akzeptieren wir diesmal ausschließlich die Zahlung per
    Lastschrift. Ihre Bestellung und die Daten zu Ihrem Konto gelten als
    Zustimmung zu diesem Verfahren. Zudem müssen Sie bei der Bestellung zwingend
    Ihre Adresse angeben, die wir verwenden, um die Eintrittskarten ca. eine
    Woche vor der Aufführung vorab per Post zu verschicken. Erst zu diesem
    Zeitpunkt werden die Lastschriften tatsächlich ausgeführt.</p>
    <p>Alle persönlichen Daten (Name, Adresse, Bankverbindung) werden wie
    generell üblich zeitnah nach der Aufführung vollständig gelöscht.</p>
<form action="order.html" method="POST">
$:form.render()
</form>
<p>Für Rückfragen kontaktieren Sie bitte
<img src="static/email.png" width=260 height=13 style="position:relative;top:2px;left:1px;">.</p>
