$def with (tag, data)
Zusammenfassung der Daten der Bestellung:

   Anrede:         $data.gender
   Vorname:        $data.firstname
   Nachname:       $data.surname
   Straße und Nr.: $data.street
   PLZ und Ort:    $data.zip $data.city
   Telefon:        $data.phone
   E-Mail:         $data.email
   Inhaber:        $data.account_holder
   IBAN:           $data.account_iban.replace(' ', '').upper()
   BIC:            $data.account_bic.replace(' ', '').upper()
   Karten:         $data.count Stück in Kategorie $data.category.upper()
   Gutschein:      $data.coupon
