$def with (tag, data)
<h1>Kartenverkauf</h1>
<h2>$tag.ticket_title</h2>
<h3>$tag.ticket_description</h3>
<p>Vielen Dank für Ihre Kartenbestellung für das Konzert des Schwäbischen
Oratorienchors.</p>
<p>Die Bestellungen werden in der Reihenfolge des Eingangs bearbeitet und die
Platzierung unter Berücksichtigung der Corona-Auflagen vorgenommen. Sollten
hierbei Rückfragen notwendig sein, werden Sie nochmals kontaktiert. Die
Eintrittskarten werden ca. eine Woche vor der Aufführung an die angegebene
Adresse geschickt. Die Lastschrift wird auch erst zu diesem Zeitpunkt initiiert.</p>
<p>Eine Zusammenfassung der Daten zu Ihrer Bestellung, die Ihnen soeben auch
per E-Mail zugeht:</p>
<table>
<tr><th align=right>Name:</th><td>
   $if data.gender == 'female':
     Frau
   $else:
     Herr
   $data.name
</td></tr>
<tr><th align=right>Straße und Nr.:</th><td>$data.shipment_street</td></tr>
<tr><th align=right>PLZ und Ort:</th><td>$data.shipment_zip $data.shipment_city</td></tr>
<tr><th align=right>Anzahl Karten:</th><td>$data.count Stück à 15 Euro</td></tr>
</table>
<p>Die Bezahlung erfolgt durch folgendes SEPA-Lastschriftmandat für eine einmalige
SEPA-Basislastschrift:</p>
<table>
<tr><th align=right>Gläubiger-ID des Schwäbischen Oratorienchor e.V.:</th><td>DE95ZZZ00001496812</td></tr>
<tr><th align=right>Mandatsreferenz:</th><td>$(data.id)-$data.bankcode</td></tr>
<tr><th align=right>Summe:</th><td>$(int(data.count)*15) Euro</td></tr>
</table>
<p>Wir bedanken uns ganz herzlich für Ihr Interesse an unserem Konzert und
freuen uns darauf, Sie als unsere Gäste begrüßen zu dürfen!</p>
<p>Für Rückfragen kontaktieren Sie bitte
<img src="static/email.png" width=260 height=13 style="position:relative;top:2px;left:1px;">.</p>
