<h1>Presseberichte</h1>
<ul>
  <li>
    <i>Augsburger Allgemeine, Mittwoch, 12. April 2017</i><br>
    <b>Zwischen den Zeiten</b> – Die Johannespassion von Homilius<br>
    <a href="http://www.augsburger-allgemeine.de/augsburg/Zwischen-den-Zeiten-id41171341.html">externer Inhalt von www.augsburger-allgemeine.de</a>, <a href="member/wiki/press/homilius">interne Kopie</a>
  </li>
  <li>
    <i>Augsburger Allgemeine, Mittwoch, 30. November 2016</i><br>
    <b>Hellwach und kraftvoll</b> – Der Schwäbische Oratorienchor singt zwei Werke von Händel und Bach<br>
    <a href="http://www.augsburger-allgemeine.de/augsburg/Hellwach-und-kraftvoll-id39866597.html">externer Inhalt von www.augsburger-allgemeine.de</a>, <a href="member/wiki/press/magnificat">interne Kopie</a>
  </li>
  <li>
    <i>Augsburger Allgemeine, Dienstag, 26. April 2016</i><br>
    <b>Ein Wunder in Musik</b> – Ergreifend: Beethovens Missa solemnis<br>
    <a href="http://www.augsburger-allgemeine.de/augsburg/Ein-Wunder-in-Musik-id37587672.html">externer Inhalt von www.augsburger-allgemeine.de</a>, <a href="member/wiki/press/missasolemnis">interne Kopie</a>
  </li>
  <li>
    <i>Augsburger Allgemeine, Mittwoch, 13. Mai 2015</i><br>
    <b>Zwischen zwei feindlichen Reichen</b> – Der schwäbische Oratorienchor führt Händels „Belshazzar“-Oratorium auf<br>
    <a href="http://www.augsburger-allgemeine.de/augsburg/Zwischen-zwei-feindlichen-Reichen-id34055627.html">externer Inhalt von www.augsburger-allgemeine.de</a>, <a href="member/wiki/press/belshazzar">interne Kopie</a>
  </li>
  <li>
    <i>Augsburger Allgemeine, Mittwoch, 26. November 2014</i><br>
    <b>Angesichts des Todes</b> – Dvoraks ergreifendes Requiem in Herz-Jesu<br>
    <a href="http://www.augsburger-allgemeine.de/augsburg/Angesichts-des-Todes-id32139207.html">externer Inhalt von www.augsburger-allgemeine.de</a>, <a href="member/wiki/press/dvorakrequiem">interne Kopie</a>
  </li>
  <li>
    <i>Augsburger Allgemeine, Samstag, 19. April 2014</i><br>
    <b>Oratorienchor auf Jesu Leidensweg</b><br>
    <a href="https://zeitungsarchiv.mgpd.de/abo_content/control_delivery.php?paid_arid=20140419061848000033981991">externer Inhalt von www.augsburger-allgemeine.de</a>, <a href="member/wiki/press/matthaeus">interne Kopie</a>
  </li>
  <li>
    <i>Augsburger Allgemeine, Mittwoch, 04. Dezember 2013</i><br>
    <b>Riesenleistung</b> – Oratorienchor mit Händels „Judas“<br>
    <a href="http://www.augsburger-allgemeine.de/augsburg/Riesenleistung-id27981637.html">externer Inhalt von www.augsburger-allgemeine.de</a>, <a href="member/wiki/press/maccabaeus">interne Kopie</a>
  </li>
  <li>
    <i>Augsburger Allgemeine, Montag, 03. Dezember 2012</i><br>
    <b>Präzise trotz Größe</b> – Der Oratorienchor in evangelisch St. Ulrich<br>
    <a href="http://www.augsburger-allgemeine.de/augsburg/Praezise-trotz-Groesse-id23017096.html">externer Inhalt von www.augsburger-allgemeine.de</a>, <a href="member/wiki/press/weihnacht2">interne Kopie</a>
  </li>
  <li>
    <i>Augsburger Allgemeine, Freitag, 18. Mai 2012</i><br>
    <b>Ein Lob voll Spannung</b> – Oratorienchor in der Herz-Jesu-Kirche<br>
    <a href="http://www.augsburger-allgemeine.de/augsburg/Ein-Lob-voll-Spannung-id20204746.html">externer Inhalt von www.augsburger-allgemeine.de</a>, <a href="member/wiki/press/lobgesang">interne Kopie</a>
  </li>
  <li>
    <i>Augsburger Allgemeine, Donnerstag, 24. November 2011</i><br>
    <b>Durch Mark und Bein</b> – Der Oratorienchor in Herz Jesu<br>
    <a href="http://www.augsburger-allgemeine.de/augsburg/Durch-Mark-und-Bein-id17649531.html">externer Inhalt von www.augsburger-allgemeine.de</a>, <a href="member/wiki/press/stabatmater">interne Kopie</a>
  </li>
  <li>
    <i>Augsburger Allgemeine, Dienstag, 19. April 2011</i><br>
    <b>Mit der richtigen Dosis Dramatik</b> – Oratorienchor mit Johannespassion<br>
    <a href="http://www.augsburger-allgemeine.de/augsburg/Mit-der-richtigen-Dosis-Dramatik-id14776226.html">externer Inhalt von www.augsburger-allgemeine.de</a>, <a href="member/wiki/press/johannes">interne Kopie</a>
  </li>
  <li>
    <i>Augsburger Allgemeine, Dienstag, 23. November 2010</i><br>
    <b>Mit Trauer ins Licht</b> – Oratorienchor mit Brahms in Herz Jesu<br>
    <a href="http://www.augsburger-allgemeine.de/augsburg/Mit-Trauer-ins-Licht-id8937911.html">externer Inhalt von www.augsburger-allgemeine.de</a>, <a href="member/wiki/press/brahmsrequiem">interne Kopie</a>
  </li>
  <li>
    <i>Augsburger Allgemeine, Mittwoch, 12. Mai 2010</i><br>
    <b>Majestätische Größe</b> - Händels grandioser „Samson“ in St. Ulrich<br>
    <a href="http://www.augsburger-allgemeine.de/augsburg/Majestaetische-Groesse-id7821331.html">externer Inhalt von www.augsburger-allgemeine.de</a>, <a href="member/wiki/press/samson">interne Kopie</a>
  </li>
  <li>
    <i>Augsburger Allgemeine, Mittwoch, 3. Dezember 2008</i><br>
    <b>Frohlocken über diese Aufführung</b> - Oratorienchor mit Bachs Weihnacht<br>
    <a href="member/wiki/press/weihnacht">interne Kopie</a>
  </li>
  <li>
    <i>Augsburger Allgemeine, Mittwoch, 30. April 2008</i><br>
    <b>Getröstet Elend</b> - Max Bruchs "Moses" in Herz Jesu<br>
    <a href="member/wiki/press/moses">interne Kopie</a>
  </li>
  <li>
    <i>Augsburger Allgemeine, Dienstag, 20. November 2007</i><br>
    <b>Vom Tod zum Leben</b> - Schwäbischer Oratorienchor - Ein Konzert in ev. St. Ulrich verbindet Requiem und Osterfeier<br>
    <a href="member/wiki/press/haydnrequiem">interne Kopie</a>
  </li>
  <li>
    <i>Augsburger Allgemeine, Dienstag, 8. Mai 2007</i><br>
    <b>Auszug und Einzug</b> - Oratorium Händels "Israel in Egypt" in Evangelisch St. Ulrich<br>
    <a href="member/wiki/press/egypt">interne Kopie</a>
  </li>
  <li>
    <i>Augsburger Allgemeine, Mittwoch, 29. November 2006</i><br>
    <b>Halb Elf, halb Engel</b> - Schumanns "Paradies und die Peri" als Ereignis in Herz Jesu<br>
    <a href="member/wiki/press/peri">interne Kopie</a>
  </li>
  <li>
    <i>Augsburger Allgemeine, Mittwoch, 10. Mai 2006</i><br>
    <b>Glutvolle Bekenntnisse</b> - Schwäbischer Oratorienchor mit Bachs h-Moll-Messe<br>
    <a href="member/wiki/press/hmoll">interne Kopie</a>
  </li>
  <li>
    <i>Augsburger Allgemeine, Dienstag, 3. Mai 2005</i><br>
    <b>Romantische Verklärung</b> - Schwäbischer Oratorienchor mit Mendelssohns "Paulus"<br>
    <a href="member/wiki/press/paulus">interne Kopie</a>
  </li>
  <li>
    <i>Augsburger Allgemeine, Donnerstag, 11. November 2004</i><br>
    <b>Furcht und Gotteslob</b> - Schwäbischer Oratorienchor singt Bach und Händel<br>
    <a href="member/wiki/press/dettinger">interne Kopie</a>
  </li>
  <li>
    <i>Augsburger Allgemeine, Donnerstag, 13. Mai 2004</i><br>
    <b>Packende Bildkraft</b> - Haydns "Schöpfung" mit dem Schwäbischen Oratorienchor<br>
    <a href="member/wiki/press/schoepfung">interne Kopie</a>
  </li>
  <li>
    <i>Augsburger Allgemeine, Dienstag, 2. Dezember 2003</i><br>
    <b>Triumph der Musik</b> - Händels "Alexanderfest" vom Schwäbischen Oratorienchor<br>
    <a href="member/wiki/press/alexander">interne Kopie</a>
  </li>
  <li>
    <i>Katholische Sonntagszeitung, Samstag/Sonntag, 31. Mai/1. Juni 2003</i><br>
    <b>Verklärung des Propheten</b> - Mendelssohns "Elias" in der Herz-Jesu-Kirche<br>
    <a href="member/wiki/press/eliasc">interne Kopie</a>
  </li>
  <li>
    <i>Memminger Zeitung, Donnerstag, 29. Mai 2003</i><br>
    <b>Mendelssohn-Schlager, die bewegen</b> - Schwäbischer Oratorienchor und Arcis Kammersolisten brillieren mit "Elias" in St. Josef<br>
    <a href="member/wiki/press/eliasb">interne Kopie</a>
  </li>
  <li>
    <i>Augsburger Allgemeine, Dienstag, 20. Mai 2003</i><br>
    <b>Terzett der Engel</b> - Mendelssohns Oratorium "Elias" in der Herz-Jesu-Kirche<br>
    <a href="member/wiki/press/elias">interne Kopie</a>
  </li>
  <li>
    <i>Augsburger Allgemeine, Dienstag, 29. Oktober 2002</i><br>
    <b>Klingende Todesvisionen</b> - Schwäbischer Oratorienchor mit Arcis Kammersolisten<br>
    <a href="member/wiki/press/requiem">interne Kopie</a>
  </li>
  <li>
    <i>Augsburger Allgemeine, Dienstag, 30. April 2002</i><br>
    <b>Transparentes Fundament, höhensicherer Glanz</b> - "Messias" mit dem neuen Schwäbischen Oratorienchor<br>
    <a href="member/wiki/press/messias">interne Kopie</a>
  </li> 
</ul>
