<h1>Hinweise zum Datenschutz</h1>

<p>In Verbindung mit Ihrem Zugriff automatisch anfallende Daten wie IP-Adresse,
Datum, Uhrzeit und betrachtete Seiten werden aus Gründen der Datensicherheit
gespeichert (zur Sicherung von Stabilität und Betriebssicherheit, Analyse von
Angriffsversuchen etc.). Die statistische Auswertung der Datensätze bleibt
vorbehalten. Eine personenbezogene Auswertung oder eine Weitergabe an Dritte
findet generell nicht statt.</p>

<p>Bei der Benutzung des Mitgliederbereichs des Schwäbischen Oratorienchors
wird ein <a href="http://de.wikipedia.org/wiki/HTTP-Cookie">Cookie</a> zur
Steuerung der Zugangsberechtigung verwendet. Das Cookie enthält keine
persönlichen Daten, hat eine maximale Lebensdauer von 24 Stunden und wird beim
Logout komplett entfernt. Für Benutzer des Mitgliederbereichs sind
<a href="member/privacy.html">weitere Informationen zum Datenschutz</a> verfügbar.</p>
