<h1>Hinweise zum Datenschutz</h1>

<p>In Verbindung mit Ihrem Zugriff automatisch anfallende Daten wie IP-Adresse,
Datum, Uhrzeit und betrachtete Seiten werden aus Gründen der Datensicherheit
gespeichert (zur Sicherung von Stabilität und Betriebssicherheit, Analyse von
Angriffsversuchen etc.). Die statistische Auswertung der Datensätze bleibt
vorbehalten. Eine personenbezogene Auswertung oder eine Weitergabe an Dritte
findet generell nicht statt.</p>

<p>Es werden ausschließlich Daten erhoben und verarbeitet, die zur Realisierung
der jeweiligen Funktion benötigt werden (in Einklang mit Art. 6 DSGVO ohne
weitere explizite Einwilligung). Insbesondere findet keine Verknüpfung von
Datensätzen (z.B. Newsletter-Anmeldung und Kartenkauf, oder zwischen
verschiedenen Kartenkäufen) statt. Persönliche Daten wie Name, E-Mail-Adresse,
Kontoverbindung (bei Lastschrift), Adresse (bei Kartenversand) werden nach
Ablauf des Projekts innerhalb von 14 Tagen komplett gelöscht. Lastschriften
werden als Sammellastschriften direkt an das kontoführende Institut
(Sparkasse Schwaben-Bodensee) übermittelt und unterliegen in der weitergehenden
Datenverarbeitung dem dortigen Datenschutz in Einklang und überwacht unter
anderem durch die Bafin.</p>

<p>Bei der Benutzung des Mitgliederbereichs des Schwäbischen Oratorienchors
wird ein <a href="http://de.wikipedia.org/wiki/HTTP-Cookie">Cookie</a> zur
Steuerung der Zugangsberechtigung verwendet. Das Cookie enthält keine
persönlichen Daten, hat eine maximale Lebensdauer von 24 Stunden und wird beim
Logout komplett entfernt. Für Benutzer des Mitgliederbereichs sind
<a href="member/privacy.html">weitere Informationen zum Datenschutz</a>
verfügbar.</p>
