<h1>Kommendes Projekt</h1>

<h2>Felix Mendelssohn Bartholdy</h2>
<h2>Der 42. Psalm: „Wie der Hirsch schreit“, op. 42</h2>
<h2>„Lauda Sion“, op. 73</h2>
<h3>sowie Orchesterwerke des Komponisten</h3>
<h3>Sonntag, 20. November 2022, 19:00 Uhr</h3>
<h3>Pfarrkirche Herz Jesu, Augsburg-Pfersee</h3>

<hr class="major">

<h1>Frühere Projekte</h1>

<h2>Georg Friedrich Händel</h2>
<h2>Der Messias</h2>
<h3>Oratorium in englischer Sprache</h3>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Julie Erhart, Sopran<br>
    Stefan Görgner, Altus<br>
    Eric Price, Tenor<br>
    Alban Lenzen, Bass
  </dd>
  <dt>Orchester:</dt>
  <dd>Mitglieder des Bayerischen Staatsorchesters</dd>
</dl>
<h3>Sonntag, 15. Mai 2022, 19:00 Uhr</h3>
<h3>Ev. St. Ulrich, Augsburg</h3>
<h3><a href="static/project/messias2.pdf">Programmheft (PDF, 531 KB)</a></h3>

<hr class="minor">

<h2>Joseph Haydn</h2>
<h2>Stabat mater</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Johanna Allevato, Sopran<br>
    Christa Mayer, Alt<br>
    Colin Balzer, Tenor<br>
    Alban Lenzen, Bass
  </dd>
  <dt>Orchester:</dt>
  <dd>Mitglieder des Bayerischen Staatsorchesters</dd>
</dl>
<h3>Sonntag, 21. November 2021, 19:00 Uhr</h3>
<h3>Pfarrkirche Herz Jesu, Augsburg-Pfersee</h3>
<h3><a href="static/project/haydnstabatmater.pdf">Programmheft (PDF, 524 KB)</a></h3>

<hr class="minor">

<h2>Marc-Antoine Charpentier</h2>
<h2>Te Deum in D</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Priska Eser, Sopran<br>
    Johanna Allevato, Sopran<br>
    Theresa Blank, Alt<br>
    Andreas Hirtreiter, Tenor<br>
    Alban Lenzen, Bass
  </dd>
  <dt>Orchester:</dt>
  <dd>Mitglieder des Bayerischen Staatsorchesters</dd>
</dl>
<h3>Sonntag, 1. August 2021, 18:00 Uhr und 20:00 Uhr</h3>
<h3>Pfarrkirche Herz Jesu, Augsburg-Pfersee</h3>
<h3><a href="static/project/charpentier.pdf">Programmheft (PDF, 443 KB)</a></h3>

<hr class="minor">

<h2>Georg Friedrich Händel</h2>
<h2>Saul</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Julie Erhart, Sopran<br>
    Priska Eser, Sopran<br>
    Stefan Görgner, Altus<br>
    Andreas Hirtreiter, Tenor<br>
    Magnus Dietrich, Tenor<br>
    Alban Lenzen, Bass
  </dd>
  <dt>Orchester:</dt>
  <dd>Mitglieder des Bayerischen Staatsorchesters</dd>
</dl>
<h3>Sonntag, 1. Dezember 2019, 19:00 Uhr</h3>
<h3>Ev. St. Ulrich, Augsburg</h3>
<h3><a href="static/project/saul.pdf">Programmheft (PDF, 659 KB)</a></h3>

<hr class="minor">

<h2>Antonín Dvořák</h2>
<h2>Die heilige Ludmilla</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Sophia Brommer, Sopran<br>
    Florence Losseau, Alt<br>
    Roman Payer, Tenor<br>
    Johannes Mooser, Bass
  </dd>
  <dt>Orchester:</dt>
  <dd>Mitglieder des Bayerischen Staatsorchesters</dd>
</dl>
<h3>Sonntag, 12. Mai 2019, 19:00 Uhr</h3>
<h3>Pfarrkirche Herz Jesu, Augsburg-Pfersee</h3>
<h3><a href="static/project/ludmilla.pdf">Programmheft (PDF, 644 KB)</a></h3>

<hr class="minor">

<h2>Felix Mendelssohn Bartholdy</h2>
<h2>Paulus</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Sophia Brommer, Sopran<br>
    Stefanie Irányi, Alt<br>
    Bernhard Schneider, Tenor<br>
    Johannes Mooser, Bass
  </dd>
  <dt>Orchester:</dt>
  <dd>Mitglieder des Bayerischen Staatsorchesters</dd>
</dl>
<h3>Sonntag, 6. Mai 2018, 19:00 Uhr</h3>
<h3>Pfarrkirche Herz Jesu, Augsburg-Pfersee</h3>
<h3><a href="static/project/paulus2.pdf">Programmheft (PDF, 624 KB)</a></h3>

<hr class="minor">

<h2>Joseph Haydn: Sinfonie Nr. 95 in c-Moll</h2>
<h2>Wolfgang Amadeus Mozart: Große Messe in c-Moll</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Andromahi Raptis, Sopran<br>
    Florence Losseau, Sopran<br>
    Manuel Warwitz, Tenor<br>
    Alban Lenzen, Bass
  </dd>
  <dt>Orchester:</dt>
  <dd>Mitglieder des Bayerischen Staatsorchesters</dd>
</dl>
<h3>Sonntag, 19. November 2017, 19:00 Uhr</h3>
<h3>Ev. St. Ulrich, Augsburg</h3>
<h3><a href="static/project/cmoll.pdf">Programmheft (PDF, 488 KB)</a></h3>

<hr class="minor">

<h2>Gottfried August Homilius</h2>
<h2>Johannespassion</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Roswitha Schmelzl, Sopran<br>
    Stephanie Hampl, Alt<br>
    Michael Birgmeier, Tenor<br>
    Florian Dengler, Bass<br>
    Johannes Mooser, Jesus
  </dd>
  <dt>Orchester:</dt>
  <dd>Mitglieder des Bayerischen Staatsorchesters</dd>
</dl>
<h3>Sonntag, 9. April 2017, 19:00 Uhr</h3>
<h3>Ev. St. Ulrich, Augsburg</h3>
<h3><a href="static/project/homilius.pdf">Programmheft (PDF, 544 KB)</a></h3>

<hr class="minor">

<h2>Georg Friedrich Händel: Dixit Dominus</h2>
<h2>Johann Sebastian Bach: Magnificat</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Priska Eser, Sopran<br>
    Roswitha Schmelzl, Sopran<br>
    Stefan Görgner, Altus<br>
    Andreas Hirtreiter, Tenor<br>
    Thomas Hamberger, Bass
  </dd>
  <dt>Orchester:</dt>
  <dd>Mitglieder des Bayerischen Staatsorchesters</dd>
</dl>
<h3>Sonntag, 27. November 2016, 19:00 Uhr</h3>
<h3>Ev. St. Ulrich, Augsburg</h3>
<h3><a href="static/project/magnificat.pdf">Programmheft (PDF, 568 KB)</a></h3>

<hr class="minor">

<h2>Ludwig van Beethoven</h2>
<h2>Missa Solemnis</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Sophia Brommer, Sopran<br>
    Stefanie Irányi, Alt<br>
    Attilio Glaser, Tenor<br>
    Johannes Mooser, Bass
  </dd>
  <dt>Orchester:</dt>
  <dd>Mitglieder des Bayerischen Staatsorchesters</dd>
</dl>
<h3>Sonntag, 24. April 2016, 19:00 Uhr</h3>
<h3>Pfarrkirche Herz Jesu, Augsburg-Pfersee</h3>
<h3><a href="static/project/missasolemnis.pdf">Programmheft (PDF, 848 KB)</a></h3>

<hr class="minor">

<h2>Georg Friedrich Händel</h2>
<h2>Belshazzar</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Priska Eser, Sopran<br>
    Theresa Blank, Alt<br>
    Stefan Görgner, Altus<br>
    Andreas Hirtreiter, Tenor<br>
    Benedikt Weiß, Bass
  </dd>
  <dt>Orchester:</dt>
  <dd>Mitglieder des Bayerischen Staatsorchesters</dd>
</dl>
<h3>Sonntag, 10. Mai 2015, 19:00 Uhr</h3>
<h3>Ev. St. Ulrich, Augsburg</h3>
<h3><a href="static/project/belshazzar.pdf">Programmheft (PDF, 729 KB)</a></h3>

<hr class="minor">

<h2>Antonín Dvořák</h2>
<h2>Requiem</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Anna Gabler, Sopran<br>
    Christa Mayer, Alt<br>
    Bernhard Schneider, Tenor<br>
    Alban Lenzen, Bass
  </dd>
  <dt>Orchester:</dt>
  <dd>Mitglieder des Bayerischen Staatsorchesters</dd>
</dl>
<h3>Sonntag, 23. November 2014, 19:00 Uhr</h3>
<h3>Pfarrkirche Herz Jesu, Augsburg-Pfersee</h3>
<h3><a href="static/project/dvorakrequiem.pdf">Programmheft (PDF, 540 KB)</a></h3>

<hr class="minor">

<h2>Johann Sebastian Bach</h2>
<h2>Matthäus-Passion</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Raimund Mlnarschik, Evangelist<br>
    Johannes Mooser, Christus<br>
    Priska Eser, Sopran<br>
    Christa Mayer, Alt<br>
    Roman Payer, Tenor<br>
    Florian Dengler, Bass
  </dd>
  <dt>Orchester:</dt>
  <dd>Mitglieder des Bayerischen Staatsorchesters</dd>
</dl>
<h3>Sonntag, 13. April 2014, 18:00 Uhr</h3>
<h3>Ev. St. Ulrich, Augsburg</h3>
<h3><a href="static/project/matthaeus.pdf">Programmheft (PDF, 709 KB)</a></h3>

<hr class="minor">

<h2>Georg Friedrich Händel</h2>
<h2>Judas Maccabaeus</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Priska Eser, Sopran<br>
    Stefanie Irányi, Alt<br>
    Attilio Glaser, Tenor<br>
    Benjamin Appl, Bass
  </dd>
  <dt>Orchester:</dt>
  <dd>Mitglieder des Bayerischen Staatsorchesters</dd>
</dl>
<h3>Sonntag, 1. Dezember 2013, 19:00 Uhr</h3>
<h3>Ev. St. Ulrich, Augsburg</h3>
<h3><a href="static/project/maccabaeus.pdf">Programmheft (PDF, 576 KB)</a></h3>

<hr class="minor">

<h2>Johann Sebastian Bach</h2>
<h2>Weihnachtsoratorium</h2>
<h3>Kantaten 1, 4-6</h3>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Priska Eser, Sopran<br>
    Jennifer Crohns, Alt<br>
    Andreas Hirtreiter, Tenor<br>
    Benjamin Appl, Bass
  </dd>
  <dt>Orchester:</dt>
  <dd>Mitglieder des Bayerischen Staatsorchesters</dd>
</dl>
<h3>Samstag, 1. Dezember 2012, 19:00 Uhr</h3>
<h3>Ev. St. Ulrich, Augsburg</h3>
<h3><a href="static/project/weihnacht2.pdf">Programmheft (PDF, 469 KB)</a></h3>

<hr class="minor">

<h2>10 Jahre Schwäbischer Oratorienchor</h3>
<h3>Felix Mendelssohn Bartholdy</h3>
<h3>42. Psalm (op. 42): „Wie der Hirsch schreit”</h3>
<h3>Sinfonie-Kantate (op. 52): „Lobgesang”</h3>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Priska Eser, Sopran<br>
    Ulrike Wagner, Sopran<br>
    Attilio Glaser, Tenor
  </dd>
  <dt>Orchester:</dt>
  <dd>Mitglieder des Bayerischen Staatsorchesters</dd>
</dl>
<h3>Sonntag, 13. Mai 2012, 19:00 Uhr</h3>
<h3>Pfarrkirche Herz Jesu, Augsburg-Pfersee</h3>
<h3><a href="static/project/lobgesang.pdf">Programmheft (PDF, 965 KB)</a></h3>

<hr class="minor">

<h2>Antonín Dvořák</h2>
<h2>Stabat Mater</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Priska Eser, Sopran<br>
    Stefanie Irányi, Alt<br>
    Attilio Glaser, Tenor<br>
    Thomas Hamberger, Bass
  </dd>
  <dt>Orchester:</dt>
  <dd>Mitglieder des Bayerischen Staatsorchesters</dd>
</dl>
<h3>Sonntag, 20. November 2011, 19:00 Uhr</h3>
<h3>Pfarrkirche Herz Jesu, Augsburg-Pfersee</h3>
<h3><a href="static/project/stabatmater.pdf">Programmheft (PDF, 894 KB)</a></h3>

<hr class="minor">

<h2>Johann Sebastian Bach</h2>
<h2>Johannes-Passion</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Mauro Peter, Evangelist<br>
    Florian Dengler, Jesus<br>
    Heidi Meier, Sopran<br>
    Stefanie Irányi, Alt<br>
    Nam Won Huh, Tenor<br>
    Benjamin Appl, Bass
  </dd>
  <dt>Orchester:</dt>
  <dd>Mitglieder des Bayerischen Staatsorchesters</dd>
</dl>
<h3>Sonntag, 17. April 2011, 19:00 Uhr</h3>
<h3>Ev. St. Ulrich, Augsburg</h3>
<h3><a href="static/project/johannes.pdf">Programmheft (PDF, 647 KB)</a></h3>

<hr class="minor">

<h2>Johannes Brahms</h2>
<h2>Ein deutsches Requiem</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Priska Eser, Sopran<br>
    Benjamin Appl, Bariton
  </dd>
  <dt>Orchester:</dt>
  <dd>Mitglieder des Bayerischen Staatsorchesters</dd>
</dl>
<h3>Sonntag, 21. November 2010, 19:00 Uhr</h3>
<h3>Pfarrkirche Herz Jesu, Augsburg-Pfersee</h3>
<h3><a href="static/project/brahmsrequiem.pdf">Programmheft (PDF, 371 KB)</a></h3>

<hr class="minor">

<h2>Georg Friedrich Händel</h2>
<h2>Samson</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Priska Eser, Sopran<br>
    Stefan Görgner, Altus<br>
    Colin Balzer, Tenor<br>
    Benjamin Appl, Bariton<br>
    Christian Villiger, Bass
  </dd>
  <dt>Orchester:</dt>
  <dd>Mitglieder des Bayerischen Staatsorchesters</dd>
</dl>
<h3>Sonntag, 9. Mai 2010, 19:00 Uhr</h3>
<h3>Ev. St. Ulrich, Augsburg</h3>
<h3><a href="static/project/samson.pdf">Programmheft (PDF, 744 KB)</a></h3>

<hr class="minor">

<h2>Felix Mendelssohn Bartholdy</h2>
<h2>Elias</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Miriam Kaltenbrunner, Sopran<br>
    Christa Mayer, Alt<br>
    Nam Won Huh, Tenor<br>
    Konrad Jarnot, Bariton
  </dd>
  <dt>Orchester:</dt>
  <dd>Mitglieder des Bayerischen Staatsorchesters</dd>
</dl>
<h3>Sonntag, 17. Mai 2009, 19:00 Uhr</h3>
<h3>Pfarrkirche Herz Jesu, Augsburg-Pfersee</h3>
<h3><a href="static/project/elias2.pdf">Programmheft (PDF, 488 KB)</a></h3>

<hr class="minor">

<h2>Johann Sebastian Bach</h2>
<h2>Weihnachtsoratorium, BWV 248, Kantaten I-III</h2>
<h2>Gloria in excelsis Deo, BWV 191</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Priska Eser-Streit, Sopran<br>
    Carolin Cervino, Alt<br>
    Nam Won Huh, Tenor<br>
    Tobias Neumann, Bass
  </dd>
  <dt>Orchester:</dt>
  <dd>Mitglieder des Bayerischen Staatsorchesters</dd>
</dl>
<h3>Sonntag, 30. November 2008, 19:00 Uhr</h3>
<h3>Ev. St. Ulrich, Augsburg</h3>
<h3><a href="static/project/weihnacht.pdf">Programmheft (PDF, 506 KB)</a></h3>

<hr class="minor">

<h2>Max Bruch: Moses</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Miriam Kaltenbrunner, Sopran<br>
    Ji-Woon Kim, Tenor<br>
    Tyler Duncan, Bass
  </dd>
  <dt>Orchester:</dt>
  <dd>Mitglieder des Bayerischen Staatsorchesters</dd>
</dl>
<h3>Sonntag, 27. April 2008, 19:00 Uhr</h3>
<h3>Pfarrkirche Herz Jesu, Augsburg-Pfersee</h3>
<h3><a href="static/project/moses.pdf">Programmheft (PDF, 734 KB)</a></h3>

<hr class="minor">

<h2>Tod und Auferstehung</h2>
<h2>Michael Haydn: Requiem in c-Moll</h2>
<h3>Georg Philipp Telemann: Oboenkonzert in f-Moll</h3>
<h2>Johann Sebastian Bach: Osteroratorium</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Miriam Kaltenbrunner, Sopran<br>
    Christa Mayer, Alt<br>
    Marko Cilic, Tenor<br>
    Benjamin Appl, Bass<br>
    Gottfried Sirotek, Oboe
  </dd>
  <dt>Orchester:</dt>
  <dd>Mitglieder des Bayerischen Staatsorchesters</dd>
</dl>
<h3>Sonntag, 18. November 2007, 19:30 Uhr</h3>
<h3>Ev. St. Ulrich, Augsburg</h3>
<h3><a href="static/project/haydnrequiem.pdf">Programmheft (PDF, 394 KB)</a></h3>

<hr class="minor">

<h2>Georg Friedrich Händel: "Israel in Egypt"</h2>
<h3>Georg Friedrich Händel: Orgelkonzert in F-Dur</h3>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Marina Ulewicz, Sopran<br>
    Heike de Young, Sopran<br>
    Stefan Görgner, Altus<br>
    Julian Prégardien, Tenor<br>
    Benjamin Appl, Bariton<br>
    Robert Merwald, Bariton<br>
    Wolfgang Kärner, Orgel
  </dd>
  <dt>Orchester:</dt>
  <dd>Mitglieder des Bayerischen Staatsorchesters</dd>
</dl>
<h3>Sonntag, 6. Mai 2007, 19:00 Uhr</h3>
<h3>zur Wiedereröffnung von Ev. St. Ulrich, Augsburg</h3>
<h3><a href="static/project/egypt.pdf">Programmheft (PDF, 622 KB)</a></h3>

<hr class="minor">

<h2>Robert Schumann: "Das Paradies und die Peri"</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Sigrid Plundrich, Sopran<br>
    Priska Eser-Streit, Sopran<br>
    Stefanie Irányi, Alt<br>
    Colin Balzer, Tenor<br>
    Tyler Duncan, Bass
  </dd>
  <dt>Orchester:</dt>
  <dd>Mitglieder des Bayerischen Staatsorchesters</dd>
</dl>
<h3>Sonntag, 26. November 2006, 19:30 Uhr</h3>
<h3>Pfarrkirche Herz Jesu, Augsburg-Pfersee</h3>
<h3><a href="static/project/peri.pdf">Programmheft (PDF, 408 KB)</a></h3>

<hr class="minor">

<h2>Johann Sebastian Bach: "Messe in h-Moll"</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Ruby Hughes, Sopran<br>
    Christa Mayer, Alt<br>
    Colin Balzer, Tenor<br>
    Robert Merwald, Bass
  </dd>
  <dt>Orchester:</dt>
  <dd>Mitglieder des Bayerischen Staatsorchesters</dd>
</dl>
<h3>Sonntag, 7. Mai 2006, 19:30 Uhr</h3>
<h3>Ev. Heilig Kreuz, Augsburg</h3>
<h3><a href="static/project/hmoll.pdf">Programmheft (PDF, 327 KB)</a></h3>

<hr class="minor">

<h2>Ökumenischer Festgottesdienst zum Hohen Friedensfest</h2>
<p>
  Giovanni Gabrieli: Gloria<br>
  Heinrich Schütz: Verleih uns Frieden<br>
  Arvo Pärt: Beatitudes
</p>
<h3>Montag, 8. August 2005, 10:00 Uhr</h3>
<h3>Basilika St. Ulrich und Afra, Augsburg</h3>

<hr class="minor">

<h2>Felix Mendelssohn Bartholdy: "Paulus"</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Miriam Kaltenbrunner, Sopran<br>
    Stefanie Irányi, Alt<br>
    Colin Balzer, Tenor<br>
    Tyler Duncan, Bass
  </dd>
  <dt>Orchester:</dt>
  <dd>
    Schwäbisches Oratorienorchester<br>
    (Konzertmeister: Prof. Bernhard Tluck)
  </dd>
</dl>
<h3>Sonntag, 1. Mai 2005, 19:00 Uhr</h3>
<h3>Pfarrkirche Herz Jesu, Augsburg-Pfersee</h3>
<h3><a href="static/project/paulus.pdf">Programmheft (PDF, 315 KB)</a></h3>

<hr class="minor">

<h2>Johann Sebastian Bach: "O Ewigkeit, du Donnerwort", Kantate BWV 60</h2>
<h2>Georg Friedrich Händel: Orgelkonzert in d-Moll, op. 7/4</h2>
<h2>Georg Friedrich Händel: "Dettinger Te Deum"</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Christa Mayer, Alt<br>
    Colin Balzer, Tenor<br>
    Robert Merwald, Bass<br>
    Wolfgang Kärner, Orgel
  </dd>
  <dt>Orchester:</dt>
  <dd>
    Schwäbisches Oratorienorchester<br>
    (Konzertmeister: Prof. Bernhard Tluck)
  </dd>
</dl>
<h3>Sonntag, 7. November 2004, 19:00 Uhr</h3>
<h3>Ev. Heilig Kreuz, Augsburg</h3>
<h3><a href="static/project/dettinger.pdf">Programmheft (PDF, 1965 KB)</a></h3>

<hr class="minor">

<h2>Joseph Haydn: "Die Schöpfung"</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Priska Eser-Streit, Sopran<br>
    Colin Balzer, Tenor<br>
    Robert Merwald, Bass</dd>
  <dd></dd>
  <dt>Orchester:</dt>
  <dd>
    Schwäbisches Oratorienorchester<br>
    (Konzertmeister: Bernhard Tluck)
  </dd>
</dl>
<h3>Sonntag, 9. Mai 2004, 19:30 Uhr</h3>
<h3>Pfarrkirche Herz Jesu, Augsburg-Pfersee</h3>
<h3><a href="static/project/schoepfung.pdf">Programmheft (PDF, 2066 KB)</a></h3>

<hr class="minor">

<h2>Georg Friedrich Händel: "Das Alexander-Fest oder Die Macht der Musik"</h2>
<h3>Ode zu Ehren der heiligen Cäcilia von John Dryden</h3>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Ruby Hughes, Sopran<br>
    Alejandro Ramírez, Tenor<br>
    Robert Merwald, Bass
  </dd>
  <dt>Orchester:</dt>
  <dd>
    Schwäbisches Oratorienorchester<br>
    (Konzertmeister: Prof. Bernhard Tluck)
  </dd>
</dl>
<h3>Sonntag, 30. November 2003, 19:30 Uhr</h3>
<h3>Ev. Heilig Kreuz, Augsburg</h3>
<h3><a href="static/project/alexander.pdf">Programmheft (PDF, 2038 KB)</a></h3>

<hr class="minor">

<h2>Felix Mendelssohn Bartholdy: "Elias"</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Miriam Kaltenbrunner, Sopran<br>
    Christa Mayer, Alt<br>
    Colin Balzer, Tenor<br>
    Konrad Jarnot, Bariton</dd>
  </dl>
  <dt>Orchester:</dt>
  <dd>Arcis Kammersolisten München</dd>
<dl>
<h3>Sonntag, 18. Mai 2003, 19:00 Uhr</h3>
<h3>Pfarrkirche Herz Jesu, Augsburg-Pfersee</h3>
<p>sowie</p>
<h3>Sonntag, 25. Mai 2003, 16:00 Uhr</h3>
<h3>Pfarrkirche St. Josef, Memmingen</h3>
<h3><a href="static/project/elias.pdf">Programmheft (PDF, 3019 KB)</a></h3>

<hr class="minor">

<h2>Johann Sebastian Bach: "Schlage doch, gewünschte Stunde", Kantate, BWV 53</h2>
<h2>Arvo Pärt: "Cantus in Memory of Benjamin Britten"</h2>
<h2>Wolfgang Amadeus Mozart: "Requiem", KV 626</h2>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Heidi Meier, Sopran<br>
    Claudia Schneider, Alt<br>
    Colin Balzer, Tenor<br>
    Manfred Bittner, Bass
  </dd>
  <dt>Orchester:</dt>
  <dd>Arcis Kammersolisten München</dd>
</dl>
<h3>Sonntag, 27. Oktober 2002, 19:00 Uhr</h3>
<h3>Evangelische Kirche St. Ulrich, Augsburg</h3>
<h3><a href="static/project/requiem.pdf">Programmheft (PDF, 2026 KB)</a></h3>

<hr class="minor">

<h2>Georg Friedrich Händel: "Der Messias"</h2>
<h3>Oratorium in englischer Sprache</h3>
<dl>
  <dt>Solisten:</dt>
  <dd>
    Heidi Meier, Sopran<br>
    Christa Mayer, Alt<br>
    Colin Balzer, Tenor<br>
    Tyler Duncan, Bass
  </dd>
  <dt>Cembalo u. Orgel:</dt>
  <dd>Wolfgang Kärner</dd>
  <dt>Orchester:</dt>
  <dd>Arcis Kammersolisten München</dd>
</dl>
<h3>Sonntag, 28. April 2002, 19:00 Uhr</h3>
<h3>Evangelische Kirche St.Ulrich, Augsburg</h3>
<h3><a href="static/project/messias.pdf">Programmheft (PDF, 2168 KB)</a></h3>
