<h1><a href="http://www.eser-streit.de/">Priska Eser</a></h1>

<p style="float:right;"><img src="static/soloist/eser.jpg" style="margin-left:15px;margin-bottom:15px;" width="150" height="113" alt="Priska Eser"></p>
<p>Die in Augsburg geborene Sängerin studierte bei Nikolaus Hillebrand in München,
bevor sie vom Chor des Bayerischen Rundfunks als festes Mitglied engagiert
wurde. Parallel dazu entwickelte sie eine rege solistische Tätigkeit, die in
zahlreichen CD-Produktionen, Rundfunk- und Fernsehaufnahmen dokumentiert ist.
(Zuletzt wirkte sie beispielsweise bei einer Einspielung geistlicher Vokalwerke
von Franz Lachner mit, CD erschienen 2008.) Im Bereich der Alten Musik arbeitet
sie u.a. mit Thomas Hengelbrock und Andrew Parrott zusammen, auch hier
entstanden mehrere Aufnahmen und Konzertmitschnitte.</p>

<p>Ihr breit gefächertes Repertoire umfasst jedoch ebenso die Oratorien, Messen
und Kantaten von Bach, Haydn und den Romantikern, sowie nahezu das gesamte
geistliche Werk Mozarts. Neben zahlreichen Engagements in Deutschland (u.a. mit
den Münchner Philharmonikern und dem Symphonieorchester des Bayerischen
Rundfunks) führte ihre Konzerttätigkeit sie auch ins benachbarte europäische
Ausland.</p>

<p>Außerdem verfügt Priska Eser über langjährige Erfahrung in der
Interpretation Neuer Musik (Rihm, Schnittke, Xenakis), sie wirkte bereits bei
mehreren Uraufführungen mit. Im Liedgesang widmet sich die Sopranistin
bevorzugt den Kompositionen von Mozart, Schubert, Schumann und Strauss.</p>

<hr class="minor">

<h1><a href="http://www.goergner.com">Stefan Görgner</a></h1>
<p style="float:right;"><img src="static/soloist/goergner.jpg" style="margin-left:15px;margin-bottom:15px;" width="150" height="133" alt="Stefan Görgner"></p>
<p>Der Altus Stefan Görgner studierte zunächst Konzertgitarre bei Harald
Lillmeyer am Richard-Strauss-Konservatorium München. 2003 nahm er ein Studium
im Fach Gesang für Musiktheater bei Prof. Christina Wartenberg an der
Musikhochschule Felix Mendelssohn Bartholdy in Leipzig auf, welches er 2008
abschloss. Weitere Impulse erhielt er durch Meisterkurse bei Howard Crook,
Julie Hassler, Barbara Schlick, Ton Koopman und berufsbegleitende Studien bei
Andreas Scholl.</p>

<p>Er arbeitete mit Dirigenten wie Christopher Moulds, Hermann Max, Thomaskantor
Georg Christoph Biller und mit Ensembles wie der Neuen Düsseldorfer Hofmusik,
La Dolcezza, Elbipolis, dem Göttinger Barockorchester und dem Ensemble
Arcimboldo zusammen. Konzert- und Opernengagements führten ihn u.a. zu den
Händel-Festspielen Halle, dem Ekhof-Festival Gotha und der Styriarte Graz. Eine
enge kammermusikalische Zusammenarbeit verbindet ihn mit dem Gambisten und
Leiter des Ensembles <i>Le Coeur Passionné</i> Jakob David Rattinger sowie dem
<i>Ensemble U3</i>.</p>

<p>Ferner zählen amerikanische Folksongs, deren Gitarren-Arrangements er selbst
schrieb (CD mit Joaquìn Clerch bei Classic Concert Records, Erscheinungstermin
Herbst 2010), und ein Liederabend mit eigener Gitarrenbegleitung zu seinem
Repertoire. Außerdem widmete sich Stefan Görgner intensiv dem Komponieren. Zu
seinem Schaffen zählen Lieder, Chorstücke und kammermusikalische Werke.</p>

<hr class="minor">

<h1>Colin Balzer</h1>
<p style="float:right;"><img src="static/soloist/balzer.jpg" style="margin-left:15px;margin-bottom:15px;" width="137" height="124" alt="Colin Balzer"></p>
<p>Seine Gesangsausbildung erhielt der gebürtige Kanadier bei David Meek in Kanada
und bei Edith Wiens in Deutschland. Daneben besuchte Colin Balzer Meisterkurse
bei Helmut Deutsch, Robert Tear, Philip Langridge, Elly Ameling, Brigitte
Fassbaender und Christoph Prégardien.</p>

<p>Inzwischen hat Colin Balzer eine ganze Reihe internationaler Preise errungen,
und mit einem Repertoire, das von Monteverdi bis Penderecki reicht, eine rege
internationale Konzerttätigkeit begonnen. Er hat mit Dirigenten wie Kenneth
Montgomery, Simon Preston, Hans-Christoph Rademann, Helmuth Rilling, Stephen
Stubbs und Simone Young gearbeitet und dabei sehr unterschiedliche Werke
aufgeführt: u.a. Händels <i>Athalia</i> und <i>Acis &amp; Galatea</i>, Brittens <i>War
Requiem</i>, Monteverdis <i>Orfeo</i>, Lullys <i>Psyche</i> und Matthesons <i>Boris Goudenow</i>.
Er war bei den Festspielen in Baden-Baden oder dem Early Music Festival in
Boston und Vancouver zu hören. Außerdem konzertiert er regelmäßig mit verschiedenen
kanadischen und amerikanischen Orchestern.</p>

<p>Unter Marc Minkowski hat er in Frankreich und Polen Händels <i>Chandos Anthems</i>
aufgeführt und diese Zusammenarbeit 2009 als der Hohepriester und Idomeneo in
Mozarts gleichnamiger Oper beim Festival in Aix-en-Provence und beim Musikfest in Bremen
fortgesetzt. Große Tourneen mit Philippe Herreweghe, Marc Minkowski, und Enoch
zu Guttenberg mit Händel, Haydn, Mozart und Bach bestimmen diese Saison.
Zusätzlich ist eine erneute Zusammenarbeit mit dem Festival in Aix-en-Provence
für 2010 geplant, außerdem eine Tournee mit dem RIAS Kammerchor, ein Konzert beim
Bachfest Leipzig sowie Händels <i>Messias</i> Carnegie Hall in New York.</p>

<hr class="minor">

<h1>Benjamin Appl</h1>
<p style="float:right;"><img src="static/soloist/appl.jpg" style="margin-left:15px;margin-bottom:15px;" width="120" height="158" alt="Benjamin Appl"></p>
<p>Der Bariton Benjamin Appl bekam seine musikalische Grundausbildung bei den
Regensburger Domspatzen. Er erhielt 2002 den Sonderpreis des Bayerischen
Rundfunks „für die hervorragende Interpretation eines Werkes des 20.
Jahrhunderts“ und ein Stipendium des Richard-Wagner-Verbandes. Im Jahr 2003 war
er Preisträger beim Bundeswettbewerb <i>Jugend musiziert</i>. Seit 2008 ist er in
der Yehudi-Menuhin-Stiftung <i>Live Music Now</i>.</p>

<p>In Zusammenarbeit mit verschiedenen Orchestern und Ensembles erarbeitete sich
Benjamin Appl als Solist ein umfangreiches Konzertrepertoire. Opernerfahrungen
sammelte der lyrische Bariton u.a. als Ernesto in Haydns <i>Die Welt auf dem
Mond</i> in Augsburg und als Schaunard in Puccinis <i>La Bohéme</i> im
Prinzregententheater mit dem Münchner Rundfunkorchester unter Ulf Schirmer.
Unter dessen Leitung sang er auch im Januar 2010 den Baron Tusenbach in <i>Tri
Sestri</i> von Peter Eötvös. Benjamin Appl besuchte Meisterkurse u.a. bei Dietrich
Fischer-Dieskau, Rudolf Piernay, Brigitte Fassbaender und Christian Gerhaher.</p>

<p>Er ist Student in der Klasse von Prof. Dr. Edith Wiens an der Hochschule für
Musik und Theater München. Seit März 2007 ist er Stipendiat der Studienstiftung
des deutschen Volkes.</p>

<hr class="minor">

<h1>Christian Villiger</h1>
<p style="float:right;"><img src="static/soloist/villiger.jpg" style="margin-left:15px;margin-bottom:15px;" width="140" height="186" alt="Christian Villiger"></p>
<p>Der Bass-Bariton Christian Villiger wurde 1979 in Zürich geboren und begann
seine künstlerische Laufbahn als Mitglied der Zürcher Sängerknaben. Nach
Beendigung seines Klavierstudiums an der Hochschule der Künste Zürich,
studierte er Gesang bei Prof. Hans-Joachim Beyer an der Hochschule für Musik
und Theater <i>Felix Mendelssohn Bartholdy</i>  Leipzig. In weiterführenden Studien
und Meisterkursen arbeitete er mit Prof. Rudolf Piernay, Prof. Klaus Häger
und Peter Kooij.</p>

<p>Als Konzert- und Oratoriensänger trat er u.a. beim Bachfest Leipzig und den
Händelfestspielen Halle/Saale auf und musizierte in so bedeutenden
Konzerthäusern wie der Berliner Philharmonie und dem Gewandhaus Leipzig. Er ist
ein gefragter Solist mit reger Konzerttätigkeit im In- und Ausland. Rundfunk-
und Fernsehaufnahmen dokumentieren sein musikalisches Schaffen.</p>
