<h1>Kartenverkauf</h1>
<p>Der Kartenverkauf ist vorübergehend geschlossen, da während der
Probenwochenenden ein Vorverkauf im Chor stattfindet. Statt ersatzweise hier
nur ganz schlechte Karten anzubieten, die bei der Chorprobe sicher nicht
nachgefragt werden, wird der online-Verkauf unterbrochen. Bitte besuchen Sie
die Seite Anfang der Woche wieder, um die besten noch verfügbaren Karten online
zu kaufen.</p>
<p>Für Rückfragen kontaktieren Sie bitte
<img src="static/email.png" width=260 height=13 style="position:relative;top:2px;left:1px;">.</p>
