$def with (form, tag, tickets, failed=False)
<h1>Kartenverkauf</h1>
<h2>$tag.ticket_title</h2>
<h3>$tag.ticket_description</h3>
$if failed:
    <h1 style="color:#933;">ACHTUNG: Die Buchung konnte leider nicht ausgeführt werden!!!</h1>
    <p>Bedauerlicherweise konnte Ihre Buchung nicht
    ausgeführt werden, da die ausgewählten Plätze gerade von jemand anderem
    gebucht wurden. Ihre Auswahl musste deshalb leider verworfen werden. Bitte
    entschuldigen Sie die Unannehmlichkeiten und suchen Sie sich neue Plätze
    aus.</p>
$else:
    <p>Auf dieser Seite können Sie Karten für die kommende Aufführung des
    Schwäbischen Oratorienchors erwerben. Es werden ausschließlich Platzkarten in
    den Kategorien A, B und C zu €24, €18 und €10 angeboten. Es gibt keine
    Ermäßigungen. Die Plätze der Kategorie C sind Hörerplätze.</p>
    <p>Wählen Sie im nachfolgenden Plan die Plätze aus, die Sie erwerben wollen.
    Geben Sie im Formular unterhalb des Plans Ihren Namen und eine E-Mail-Adresse
    ein und bestätigen Sie Ihre Bestellung. Die Plätze sind dann sofort für Sie
    reserviert. Sie erhalten eine E-Mail mit einer Kontoverbindung, mit der Sie die
    Karten bitte innerhalb einer Woche und auf jeden Fall aber vor der Aufführung
    per Überweisung bezahlen. Nach Zahlungseingang erhalten Sie ein
    Abholkennwort per E-Mail zugeschickt, mit welchem Sie Ihre bezahlten Karten
    an der Kasse abholen können.</p>
    <p>Es ist nicht möglich, Karten zu reservieren und erst an der Abendkasse zu
    bezahlen. Reservierungen ohne Zahlungseingang werden vor Ablauf des Vorverkaufs
    storniert. Durch die Zahlung per Überweisung und die Abholung der Karten an
    der Abendkasse können wir auf jegliche Vorverkaufsgebühren verzichten. Leider
    muss der Vorverkauf deshalb aber ca. eine Woche vor der Aufführung schließen,
    damit genügend Zeit für die Überweisung bleibt. Nutzen Sie die Gelegenheit und
    kaufen Sie Ihre Karten frühzeitig!</p>
<h2>Sitzplan</h2>
<p>Die verfügbaren Plätze sind in kräftigen Farben dargestellt, sehr hell
angedeutet hingegen die Plätze, die bereits vergeben sind. Die verschiedenen
Preiskategorien sind mit unterschiedlichen Farben entsprechend der Legende
markiert. Bitte wählen Sie Ihre Plätze, indem Sie auf den Plan klicken.
Ausgewählte Plätze werden schwarz markiert. Erneutes Anklicken wählt die Plätze
wieder ab.</p>
<script type="text/javascript">
  function getInternetExplorerVersion()
  {
    var rv = -1;
    if (navigator.appName == 'Microsoft Internet Explorer')
    {
      var ua = navigator.userAgent;
      var re  = new RegExp('MSIE ([0-9]{1,}[\.0-9]{0,})');
      if (re.exec(ua) != null)
        rv = parseFloat( RegExp.$$1 );
    }
    return rv;
  }
  function getZoomFix()
  {
    if (getInternetExplorerVersion() >= 8) {return screen.deviceXDPI / screen.logicalXDPI;}
    return 1;
  }
</script>
<form action="tickets.html#map" method="POST" onsubmit="this.zoom.value = getZoomFix();">
<p>
  <input type="hidden" name="zoom" value="1">
  $if not failed:
      <a name="map">
  <input type="image" name="map" src="tickets.png?selected=$form.d.selected" width="$tag.ticketmap_width" height="$tag.ticketmap_height">
  $if not failed:
      </a>
</p>

<h2>Ausgewählte Karten</h2>
$if tickets:
    <ul>
      $for ticket in tickets:
          <li>$ticket.block, Reihe $ticket.row, Platz $ticket.seat (Kategorie $ticket.cathegory, €$ticket.regular)</li>
    </ul>
    <p>Gesamtpreis: €$(sum(ticket.regular for ticket in tickets))</p>
$else:
    <p>Bisher keine Karten ausgewählt.</p>
<h2>Persönliche Daten</h2>
<p>Die nachfolgenden Daten werden benötigt, um Sie hinsichtlich der Überweisung
und des Abholpassworts zu kontaktieren. Bitte geben Sie deshalb insbesondere
Ihre E-Mail-Adresse sorgfältig ein. Außerdem haben Sie die Möglichkeit, ein
Rundschreiben zu bestellen. Wir versenden eine halbjährliche E-Mail jeweils zu
Beginn des Kartenvorverkaufs für kommende Projekte (selbstverständlich
ausschließlich für Projekte des Schwäbischen Oratorienchors). In jeder so an
Sie geschickten E-Mail befindet sich ein Hinweis, wie Sie das Rundschreiben
wieder abbestellen können. Eine weitergehende Nutzung Ihrer Daten findet nicht
statt. Der <a href="privacy.html">Schutz Ihrer Daten</a> hat für uns höchste
Priorität.</p>
$:form.render()
</form>
<p>Für Rückfragen kontaktieren Sie bitte
<img src="static/email.png" width=260 height=13 style="position:relative;top:2px;left:1px;">.</p>
