$def with (form, tag, tickets, failed=False)
<h1>Kartenverkauf</h1>
<h2>$tag.ticket_title</h2>
<h3>$tag.ticket_description</h3>
$if failed:
    <h1 style="color:#933;">ACHTUNG: Die Buchung konnte leider nicht ausgeführt werden!!!</h1>
    <p>Bedauerlicherweise konnte Ihre Buchung nicht
    ausgeführt werden, da die ausgewählten Plätze gerade von jemand anderem
    gebucht wurden. Ihre Auswahl musste deshalb leider verworfen werden. Bitte
    entschuldigen Sie die Unannehmlichkeiten und suchen Sie sich neue Plätze
    aus.</p>
$else:
    <p>Auf dieser Seite können Sie Karten für die kommende Aufführung des
    Schwäbischen Oratorienchors erwerben. Es werden ausschließlich Platzkarten in
    den Kategorien A, B und C zu €28, €22 und €12 angeboten. Es gibt keine
    Ermäßigungen. Die Plätze der Kategorie C sind Hörerplätze.
    $if not tag.instance.bank_transfer_possible:
      Es ist sehr empfehlenswert, vom Kartenvorverkauf gebraucht zu machen, um
      sich frühzeitig einen guten Platz zu sichern. <b>An der Abendkasse gibt
      es aber immer noch Karten zu kaufen.</b> Bei Bedarf werden zusätzliche
      Stühle aufgestellt. Es ist nicht möglich, Karten zu reservieren und erst
      an der Abendkasse zu bezahlen.</p>
    <p>Wählen Sie im nachfolgenden Plan die Plätze aus, die Sie erwerben wollen.
    Geben Sie im Formular unterhalb des Plans Ihren Namen und eine E-Mail-Adresse
    ein.
    $if tag.instance.bank_transfer_possible:
        Außerdem müssen Sie angeben, wie Sie die Karten bezahlen.
    $else:
        Es ist nicht möglich, Karten zu reservieren und erst an der Abendkasse zu bezahlen.
    </p>
    $if tag.instance.bank_transfer_possible:
        <p>Es stehen zwei Möglichkeiten zur Bezahlung zur Verfügung. Einerseits können die Karten
        innerhalb von einer Woche nach der Bestellung per Überweisung bezahlt werden.
        In der Reservierungsbestätigung beim Absenden des Formulars erhalten Sie dazu
        online und auch per E-Mail die Überweisungsdaten genannt. Bitte beachten Sie,
        dass es nicht möglich ist, Karten zu reservieren und erst an der Abendkasse zu 
        bezahlen. Reservierungen mit Zahlung per Überweisung, aber ohne Zahlungseingang,
        werden vor Ablauf des Vorverkaufs storniert. Zudem ist deshalb ein
        Kartenkauf mit Bezahlung per Überweisung nur bis ca. zwei Wochen vor der
        Aufführung möglich.</p>
        <p>Alternativ können die Karten durch Erteilung eines SEPA-Lastschriftmandats
    $else:
        <p>Die Karten können durch Erteilung eines SEPA-Lastschriftmandats
    bezahlt werden. Das Mandat für eine einmalige SEPA Basislastschrift wird
    direkt als Antwort auf Ihre Reservierung erzeugt und online angezeigt sowie
    per E-Mail übermittelt. Die Zustimmung zur Lastschrift wird mit dem
    Auslösen des Kartenkaufs mit Auswahl der Lastschrift als Zahlungsmethode
    vorausgesetzt. Bitte sorgen Sie für ausreichende Kontodeckung, um kostenintensive
    Rücklastschriften zu vermeiden. Der Kartenkauf mit Lastschrift ist in der
    Regel bis zum Tag vor der Aufführung möglich.</p>
    $if tag.instance.bank_transfer_possible:
        <p>Nach Zahlungseingang bzw. direkt mit Erteilung eines Lastschriftmandats
    $else:
        <p>Direkt mit Erteilung eines Lastschriftmandats
    erhalten Sie ein Abholkennwort
    $if tag.instance.bank_transfer_possible:
        per E-Mail zugeschickt bzw.
    online angezeigt, mit welchem Sie Ihre bezahlten Karten an der Kasse
    abholen können. Durch die Abholung der bezahlten Karten an der Abendkasse
    können wir auf jegliche Vorverkaufsgebühren verzichten.</p>
    $if tag.instance.shipment_possible:
        <p>Alternativ können Sie sich Ihre Karten für nur 1 €
        Versandkostenpauschale auch zuschicken lassen. Diese Option steht nur
        bis ca. zwei Wochen vor der Aufführung zur Verfügung.</p>
<h2>Sitzplan</h2>
<p>Die verfügbaren Plätze sind in kräftigen Farben dargestellt, sehr hell
angedeutet hingegen die Plätze, die bereits vergeben sind. Die verschiedenen
Preiskategorien sind mit unterschiedlichen Farben entsprechend der Legende
markiert. Bitte wählen Sie Ihre Plätze, indem Sie auf den Plan klicken.
Ausgewählte Plätze werden schwarz markiert. Erneutes Anklicken wählt die Plätze
wieder ab.</p>
<script type="text/javascript">
  function getInternetExplorerVersion()
  {
    var rv = -1;
    if (navigator.appName == 'Microsoft Internet Explorer')
    {
      var ua = navigator.userAgent;
      var re  = new RegExp('MSIE ([0-9]{1,}[\.0-9]{0,})');
      if (re.exec(ua) != null)
        rv = parseFloat( RegExp.$$1 );
    }
    return rv;
  }
  function getZoomFix()
  {
    if (getInternetExplorerVersion() >= 8) {return screen.deviceXDPI / screen.logicalXDPI;}
    return 1;
  }
</script>
<form action="tickets.html#map" method="POST" onsubmit="this.zoom.value = getZoomFix();">
<p>
  <input type="hidden" name="zoom" value="1">
  $if not failed:
      <a name="map">
  <input type="image" name="map" src="tickets.png?selected=$form.d.selected" width="$tag.ticketmap_width" height="$tag.ticketmap_height">
  $if not failed:
      </a>
</p>

<h2>Ausgewählte Karten</h2>
$if tickets:
    <ul>
      $for ticket in tickets:
          <li>$ticket.block, Reihe $ticket.row, Platz $ticket.seat (Kategorie $ticket.cathegory, €$ticket.regular)</li>
    </ul>
    <p>Gesamtpreis: €$(sum(ticket.regular for ticket in tickets))
    $if tag.instance.shipment_possible:
        (zzgl. €1 Versandkosten, falls im Formular unten ausgewählt)
    </p>
$else:
    <p>Bisher keine Karten ausgewählt.</p>
<h2>Persönliche Daten</h2>
<p>Die nachfolgenden Daten werden benötigt, um Sie hinsichtlich der Überweisung
bzw. Lastschriftmandats sowie des Abholpassworts zu kontaktieren. <b>Bitte geben
Sie deshalb insbesondere Ihre E-Mail-Adresse sorgfältig ein.</b> Außerdem haben
Sie die Möglichkeit, ein Rundschreiben zu bestellen. Wir versenden eine
halbjährliche E-Mail jeweils zu Beginn des Kartenvorverkaufs für kommende
Projekte (selbstverständlich ausschließlich für Projekte des Schwäbischen
Oratorienchors). In jeder so an Sie geschickten E-Mail befindet sich ein
Hinweis, wie Sie das Rundschreiben wieder abbestellen können. Eine
weitergehende Nutzung Ihrer Daten findet nicht statt. Der <a
href="privacy.html">Schutz Ihrer Daten</a> hat für uns höchste Priorität.</p>
$:form.render()
</form>
<p>Für Rückfragen kontaktieren Sie bitte
<img src="static/email.png" width=260 height=13 style="position:relative;top:2px;left:1px;">.</p>
<script src="static/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
  $$(function() {
    $$('input[id^="payment_"]').change(function(){
      $$('tr:has(input[id^="account_"])').toggle($$('#payment_debit').is(':checked'));
    });
    $$('tr:has(input[id^="account_"])').toggle($$('#payment_debit').is(':checked'));
    $$('input[id="with_shipment_yes"]').change(function(){
      $$('tr:has(input[id^="shipment_"])').toggle($$('#with_shipment_yes').is(':checked'));
    });
    $$('tr:has(input[id^="shipment_"])').toggle($$('#with_shipment_yes').is(':checked'));
  });
</script>
