$def with (tag, sold, printview, hash)
$if printview:
    <form action="tickets_ok_${hash}.html" method="GET"><div style="float:right;"><input type="submit" name="submit" value="zur Normalansicht"></div></form>
$else:
    <form action="tickets_ok_${hash}.html" method="POST"><div style="float:right;"><input type="submit" name="submit" value="zur Druckansicht"></div></form>
<h1>Kartenverkauf</h1>
<h2>$tag.ticket_title</h2>
<h3>$tag.ticket_description</h3>
<p>Vielen Dank für Ihre Kartenbestellung für das Konzert des Schwäbischen
Oratorienchors. Die Informationen auf dieser Seite gehen Ihnen zeitgleich auch
per E-Mail an $sold.email zu.</p>
<p>Folgende Karten sind für Sie reserviert:</p>
<ul>
  $for ticket in sold.tickets:
      <li>$ticket.block, Reihe $ticket.row, Platz $ticket.seat (Kategorie $ticket.cathegory, €$ticket.regular)</li>
</ul>
$if sum(coupon.amount for coupon in sold.coupons):
    <p>Mit dieser Bestellung wurde ein Gutscheinwert von €$(sum(coupon.amount for coupon in sold.coupons)) eingelöst.</p>
<p>Bitte überweisen Sie den Gesamtbetrag von €$(sum(ticket.regular for ticket in sold.tickets)-sum(coupon.amount for coupon in sold.coupons)) auf das Konto
des Schwäbischen Oratorienchors:</p>
<ul>
<li>Kontoinhaber: Schwäbischer Oratorienchor</li>
<li>IBAN: DE14 7315 0000 0030 2096 05</li>
<li>BIC: BYLADEM1MLM</li>
<li>Name der Bank: Kreissparkasse Augsburg</li>
<li>Betrag: €$(sum(ticket.regular for ticket in sold.tickets)-sum(coupon.amount for coupon in sold.coupons))</li>
<li>Verwendungszweck: Karten $(sold.id)-$sold.bankcode</li>
</ul>
<p>Bitte bezahlen Sie die Karten innerhalb einer Woche und auf jeden Fall aber
vor der Aufführung. Nach Zahlungseingang erhalten Sie ein Abholkennwort per
E-Mail zugeschickt, mit welchem Sie Ihre bezahlten Karten an der Kasse abholen
können. Es ist nicht möglich, Karten zu reservieren und erst an der Abendkasse
zu bezahlen. Reservierungen ohne Zahlungseingang werden vor Ablauf des
Vorverkaufs storniert.</p>
<p>Wir bedanken uns ganz herzlich für Ihr Interesse an unserem Konzert und freuen
uns darauf, Sie als unsere Gäste begrüßen zu dürfen!</p>
<p>Für Rückfragen kontaktieren Sie bitte
<img src="static/email.png" width=260 height=13 style="position:relative;top:2px;left:1px;">.</p>
