$def with (form)
<h1>Kartenverkauf</h1>
<p>Der Kartenverkauf auf dieser Seite ist leider nur im Zeitraum einige Wochen
vor der Aufführung bis ca. 1 Woche vor der Aufführung möglich, damit genügend
Zeit für die Zahlung per Überweisung bleibt. Im Vorverkauf bei Böhm &amp; Sohn,
Ludwigstr. 15, Augsburg, können Karten noch bis zum Tag vor der Aufführung
erworben werden. Es ist nicht möglich, Karten zu reservieren und erst an der
Abendkasse zu bezahlen.</p>
<p>Alle Karten sind Platzkarten. Es ist sehr empfehlenswert, vom
Kartenvorverkauf gebraucht zu machen, um sich frühzeitig einen guten Platz zu
sichern. <b>An der Abendkasse gibt es aber immer noch Karten zu kaufen.</b> Bei
Bedarf werden zusätzliche Stühle aufgestellt.</p>
<p>Wir versenden eine halbjährliche E-Mail jeweils zu Beginn des
Kartenvorverkaufs für kommende Projekte (selbstverständlich ausschließlich für
Projekte des Schwäbischen Oratorienchors). Wenn Sie dieses Rundschreiben
erhalten möchten, geben Sie bitte Ihre Kontaktdaten in das Formular unten ein.
In jeder an Sie geschickten E-Mail befindet sich der Hinweis, wie Sie das
Rundschreiben wieder abbestellen können. Eine weitergehende Nutzung Ihrer Daten
findet nicht statt. Der <a href="privacy.html">Schutz Ihrer Daten</a> hat für
uns höchste Priorität.</p>
<form action="newsletter.html" method="POST">
$:form.render()
</form>
